{% load staticfiles %}

<h1 class="icon section-title">{{ object.title }}</h1>
<div class="row">
    <div class="col-lg-6"><img src="{% static 'img/avatar.png' %}" width="410" height="280" /></div>
    <div class="col-lg-6">
    <div class="article-extract">
        <h3><a href="">{{ entry.title }}</a></h3>
        <div class="article-meta">{{ entry.publication_date|date:"d/m/Y" }} - Catégorie {{ entry.category.name }}</div>
        {{ entry.body|safe }}
    </div>
    <p class="text-center"><a href="{{ entry.get_absolute_url }}" class="btn btn-default">Lire l'article</a></p>
    </div>
</div>
