@font-face {
    font-family: "Melbourne";
    src: url('../fonts/melbourne.otf');
}

body {
    background-color: #FFFFFF;
    margin: 0;
}

body, input {
    color: #999999;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}

.bg-green {
    background: #98bc28;
}

.bg-blue {
    background: #63a6d5;
}

.bg-orange {
    background: #f58800;
}

#top-line {
    height: 6px;
    min-width: 960px;
}

#top-line div {
    float: left;
    width: 33.3%;
    height: 6px;
}

#header {
    position: relative;
    width: 960px;
    height: 121px;
    margin: 0 auto;
}

#top-links {
    background: #a4c871;
    position: absolute;
    top: 11px;
    left: 410px;
    width: 550px;
    height: 24px;
    border-radius: 3px;
    margin: 0px;
    padding: 6px 0;
}

#top-links li {
    display: inline-block;
    border-left: solid 1px #dcdcdc;
    height: 100%;
    width: 179px;
    padding-top: 3px;
    text-align: center;
}

#top-links li:first-child {
    border-left: none;
}

#top-links a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#top-links a:hover {
    color: #57752e;
    text-decoration: none;
}

#search {
    border: solid 1px #7691ae;
    border-radius: 3px;
    position: absolute;
    top: 76px;
    left: 410px;
    width: 288px;
    height: 33px;
    background: url('../images/search.png') no-repeat 265px 8px;
}

#search label {
    float: left;
    width: 85px;
    background: #d3d9e0;
    height: 17px;
    color: #7691ae;
    padding: 8px 10px;
    font-weight: bold;
}

#search input {
    width: 140px;
    height: 21px;
    padding: 6px 10px;
    border: none;
    font-style: italic;
    color: #808080;
}

#login {
    border-radius: 3px;
    background: #7a8fa5 url('../images/login.png') no-repeat 10px 10px;
    position: absolute;
    top: 56px;
    left: 720px;
    width: 165px;
    height: 39px;
    padding: 8px 15px 8px 60px;
    color: #ffffff;
}

#login #your-account {
    margin-top: 5px;
    font-family: "Melbourne";
    font-weight: bold;
    font-size: 14px;
}

nav {
    background: url('../images/menu.png');
    height: 40px;
}

#nav {
    width: 960px;
    height: 40px;
    margin: 0 auto;
}

nav ul {
    margin: 0;
    height: 40px;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    height: 24px;
    border-left: solid 1px #ffffff;
    margin: 8px 0;
}

nav li:first-child {
    border-left: none;
}

nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 -2px #808080;
    padding: 12px 10px;
    margin: -8px 10px;
}

nav li.selected a {
    background: url('../images/menu-selected.png');
}

nav a:hover {
    background: url('../images/menu-hover.png');
}

#footer {
    border: solid 4px #e8ebef;
    width: 960px;
    margin: 10px auto 0 auto;
    padding-top: 75px;
    background: url('../images/logo-footer.png') no-repeat 333px 15px;
    text-align: center;
}

#bottom-links {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    list-style: none;
    background: #434b5a;
}

#bottom-links li {
    display: inline-block;
    height: 20px;
    padding: 0 15px;
    margin: 10px 0;
    border-left: solid 1px #4a5e73;
    text-align: center;
}

#bottom-links li:first-child {
    border-left: none;
}

#bottom-links a {
    color: #65abd9;
    text-decoration: none;
    font-size: 12px;
}

/*#main-content {
    border: solid 4px #e8ebef;
    width: 940px;
    margin: 10px auto;
    padding: 10px;
}*/

#accueil-bleu {
    background-color: #86bddc;
    height: 390px;
}

#accueil-bleu-content {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 10px 0;
}

.accueil-bleu-left, .accueil-bleu-right {
    position: absolute;
    width: 445px;
    height: 330px;
    padding: 10px;
    box-shadow: 0px 2px 4px #aaa;
    background: #ffffff;
}

.accueil-bleu-left {
    top: 20px;
    left: 0;
}

.accueil-bleu-right {
    top: 20px;
    left: 485px;
}

#accueil-bottom {
    width: 940px;
    margin: 0 auto 10px auto;
    padding: 10px;
    border: solid 4px #e8ebef;
    border-top: none;
}

.page-header {
    height: 40px;
    background: url('../images/3dots.png') repeat-x 0 35px;
    margin-bottom: 10px;
}

h2 {
    height: 30px;
    margin: 0;
    padding-top: 7px;
    font-family: "Melbourne", Helvetica, Arial, sans-serif;
    font-size: 15px;
}

h2 a {
    text-decoration: none;
    color: #999999;
}

#home-search h2 {
    background: url('../images/icon-search.png') no-repeat;
    padding-left: 44px;
}

#last-news h2 {
    background: url('../images/icon-last-news.png') no-repeat;
    padding-left: 44px;
}

#direct-header {
    border: solid 1px #8393a0;
    height: 42px;
    background: url('../images/icon-direct.png') no-repeat;
    box-shadow: 0px 2px 4px #aaa;
}

#direct-header h2 {
    margin-left: 70px;
    padding-top: 14px;
    display: inline-block;
}

#direct ul {
    float: right;
    margin: 13px 0;
}

#direct li {
    display: inline;
    font-weight: bold;
    height: 20px;
    padding: 13px 10px;
    padding-left: 30px;
    border-left: solid 1px #dcdcdc;
    background: url('../images/arrow-right.png') no-repeat 13px 12px;
    cursor: pointer;
}

#direct li:first-child {
    border-left: none;
}

#direct li:hover {
    background-color: #dcdcdc;
}

#direct li.selected {
    background: #dcdcdc url('../images/arrow-down.png') 10px 16px no-repeat;
}

.direct-content {
    padding: 10px;
    padding-left: 240px;
    height: 250px;
    display: none;
}

.direct-content.selected {
    display: block;
}

.direct-content[data-tab=appels_d_offres] {
    background: url('../images/les_appels_d_offres.png') no-repeat 60px 60px;
}

.direct-content[data-tab=fournisseurs] {
    background: url('../images/les_fournisseurs.png') no-repeat 60px 60px;
}

.direct-content[data-tab=acheteurs] {
    background: url('../images/les_acheteurs.png') no-repeat 60px 60px;
}

.direct-content[data-tab=agenda] {
    background: url('../images/l_agenda.png') no-repeat 60px 60px;
}

.direct-content[data-tab=actualites] {
    background: url('../images/les_actualites.png') no-repeat 60px 60px;
}

.direct-content > div {
    float: left;
    width: 210px;
    height: 110px;
    margin-left: 20px;
    margin-top: 10px;
}

h3 {
    margin: 0;
    font-size: 13px;
    border-bottom: solid 1px #d6d6d6;
    padding-bottom: 8px;
}

h4 {
    margin: 0;
    margin-top: 2px;
    color: #d6d6d6;
    font-size: 10px;
    border-bottom: solid 1px #d6d6d6;
}

.direct-content h3 a {
    text-decoration: none;
    color: #999999;
}

.direct-content h3 a:hover {
    color: #A7C976;
}

#home-annuaire h3 {
    background: url('../images/icon-annuaire.png') no-repeat 15px 0;
    padding-left: 40px;
}

#home-carto h3 {
    background: url('../images/icon-carto.png') no-repeat 7px 0;
    padding-left: 40px;
}

#home-carto img {
    display: block;
    margin: 10px auto;
}

.button {
    padding: 5px 20px;
    background-color: #9cc464;
    background-image: linear-gradient(#b1cd80, #8fba46);
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 1px 0px #728d4a;
    border: solid 1px #74963f;
    margin: 10px auto;
    cursor: pointer;
}

p {
    text-align: justify;
}

.center {
    text-align: center;
}

#home-annuaire select {
    background: #7a8ea6;
    background-image: url('dropdown.png') no-repeat right;
    border: solid 1px #5e6e7e;
    border-radius: 3px;
    color: #ffffff;
    width: 100%;
    margin-bottom: 5px;
    padding: 3px;
    font-weight: bold;
}

#home-annuaire p.center {
    margin-top: 0;
}

body > #main-content > #layout-content > .placeholder {
    width: 968px;
    margin: 0 auto;
}

#annuaires-search table {
    width: 968px;
    border: solid 4px #51A3D3;
    border-collapse: collapse;
    margin-top: 15px;
}

#annuaires-search td {
    width: 25%;
    border: solid 1px #D7DBDE;
    padding: 10px;
    vertical-align: top;
}

#annuaires-search label {
    font-weight: bold;
    font-size: 14px;
    color: #565656;
    display: block;
}

#annuaires-search #results {
    background-color: #51A3D3;
    color: #ffffff;
}

#annuaires-search #results p {
    margin: 0;
    padding: 0;
    text-align: center;
}

#annuaires-search #results p:first-child {
    font-weight: bold;
    font-size: 30px;
}

#annuaires-search select {
    background: #ffffff;
    background-image: url('dropdown.png') no-repeat right;
    border: solid 1px #EAEAEA;
    border-radius: 3px;
    color: #7790A6;
    width: 100%;
    padding: 3px;
    margin-top: 8px;
    font-weight: bold;
    box-shadow: 0px 2px 0px #EAEAEA;
}

#annuaires-search input[type=text] {
    border: solid 1px #EAEAEA;
    border-radius: 3px;
    width: 190px;
    padding: 4px;
    padding-left: 25px;
    margin-top: 4px;
    font-style: italic;
    background: url('../images/search.png') no-repeat 5px 4px;
}

#annuaires-search .button {
    background-image: linear-gradient(#b1cd80, #8fba46), url('../images/icon-carto-white.png') no-repeat 10px 2px;
    padding-left: 40px;
}

.pasr-box {
    border: solid 4px #e8ebef;
    margin-top: 10px;
    padding: 10px;
}
