export DB_NAME="coop_mes"
export DB_USER="coop_mes"
export DB_PASS="123456"
export GEOFLA_DB_NAME="geofla"
export GEOFLA_DB_USER="geofla"
export GEOFLA_DB_PASS="geofla"
export DOMAIN="preprod-apeas.makina-corpus.net"
export REGION_NAME="Paca"
export REGION_LABEL="PROVENCE-ALPES-COTE D'AZUR"
export REGION_SLUG="paca"

