# Django

django

# coop apps

# coop_cms
# coop-geo
# coop-tag
# coop-bar
# djaloha
# coop-colorbox

-e git+git://github.com/makinacorpus/django-coop@master#egg=django-coop
-e git+git://github.com/makinacorpus/coop-geo@master#egg=coop-geo
-e git+git://github.com/credis/coop-colorbox@master#egg=coop-colorbox
-e git+git://github.com/credis/djaloha@master#egg=djaloha
-e git+git://github.com/credis/coop-bar@master#egg=coop-bar
-e git+git://github.com/credis/coop-tag@master#egg=coop-tag
-e git+git://github.com/credis/coop_cms@master#egg=coop_cms

-e git+git://github.com/quinode/django-scanredirect@master#egg=django-scanredirect

django-autoslug
unicode-slugify
-e git+git://github.com/quinode/django-preferences@master#egg=django-preferences
#fabric
#fabtools
django-mptt

# forks we depend on
-e hg+https://bitbucket.org/psyton/django-admin-tools#egg=django-admin-tools
-e git+git://github.com/quinode/django-templatetag-sugar@master#egg=django-templatetag-sugar

# our forks
-e git+git://github.com/makinacorpus/django-admintools-bootstrap.git#egg=django-admintools-bootstrap
-e git+git://github.com/quinode/uriredirect@master#egg=uriredirect


-e git+git://github.com/django-extensions/django-extensions@master#egg=django-extensions
-e git+git://github.com/makinacorpus/django-chosen@master#egg=django-chosen

# setup.py was broken
-e git+git://github.com/quinode/djangoembed@master#egg=djangoembed

# mailing deps
SOAPpy

# coop deps
psycopg2
Pillow
south

django-forms-builder

# Queues
rq
-e git+git://github.com/ui/django-rq@master#egg=django-rq

django-apptemplates
python-dateutil
sorl-thumbnail==11.09
shortuuid
django-tinymce
-e git+git://github.com/twidi/django-extended-choices@develop#egg=django-extended-choices
-e hg+https://bitbucket.org/ubernostrum/django-profiles#egg=django-profiles
django-positions
django-push
mimeparse
geohash
rdflib
-e git+git://github.com/RDFLib/rdfextras@master#egg=rdfextras
-e git+git://github.com/RDFLib/rdflib-jsonld@master#egg=rdflib-jsonld
-e git+git://github.com/RDFLib/rdflib-sparqlstore@master#egg=rdflib-sparqlstore
-e git+git://github.com/credis/subhub@master#egg=subhub
django-appconf

-e git+git://github.com/rhec/pyelasticsearch.git#egg=pyelasticsearch
-e git+git://github.com/quinode/django-haystack.git#egg=django-haystack
-e git+git://github.com/quinode/haystackES-fr.git#egg=haystackES-fr

# webid deps : not ready
# pyOpenSSL
# -e git+git://github.com/bennomadic/django-webid-auth@master#egg=django-webid-auth
# -e git+git://github.com/bennomadic/django-webid-provider@master#egg=django-webid-provider
# -e git+git://github.com/bennomadic/django-conneg@master#egg=django-conneg

# coop_cms deps
django-floppyforms==0.4.7
django-pagination
feedparser
-e git+git://github.com/gabrielgrant/django-html-field@master#egg=django-html-field

# central logging
raven

# dev debug tools
django-debug-toolbar
FirePython

# multi-site
django-multisite

# for spip translation
# MySQL-python

# MES specific
appy==0.8.2
django-appypod==0.0.1
pyxml==0.8.4
django-selectable
