{% extends "base_index.html" %}
{% load ionyweb_tags %}


{% block home_url %}{{ home_url }}{% endblock %}


{% block moncompte %}
    <a class="login btn iconf-user" href="/mon-compte/" target="_blank">
        <b class="uppercase">Votre compte</b><br/>
        Bonjour, <b>Identifiez-vous</b>
    </a>
{% endblock %}


{% block toplinks %}
    <nav class="second-nav">
        <ul class="nav nav-justified">
            <li><a href="/qui-sommes-nous/" target="_blank">Qui sommes nous ?</a></li>
            <li><a href="/pourquoi-sinscrire/" target="_blank">Pourquoi s'inscrire ?</a></li>
            <li><a href="/espace-presse/" target="_blank">Espace Presse</a></li>
        </ul>
    </nav>
{% endblock %}


{% block footer %}
    {% include "footer.html" with blank=1 %}
{% endblock %}


{% block search %}
    {% render_layout "perimetre" %}
{% endblock search %}


{% block navigation %}
{% endblock navigation %}
