<div class="content-box">
    <h1 class="icon section-title">Découvrez</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Zoom sur des fournisseurs</a></li>
        <li class="list-group-item"><a href="#">Zoom sur des acheteurs</a></li>
        <li class="list-group-item"><a href="#">Zoom sur des innovations&nbsp;/ Initiatives</a></li>
    </ul>
</div>
<div class="content-box">
    <h1 class="icon section-title">Participez</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Proposer un article</a></li>
        <li class="list-group-item"><a href="#">Proposer un évènement</a></li>
        <li class="list-group-item"><a href="#">Déposer un appel d'offres</a></li>
        <li class="list-group-item"><a href="#">Suggérer des améliorations</a></li>
    </ul>
</div>
<div class="content-box">
    <h1 class="icon section-title">Échangez</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Communiquer avec des acheteurs et fournisseurs</a></li>
    </ul>
</div>
<div class="content-box">
    <h1 class="icon section-title">Suivez-nous</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">S'abonner à la newsletter</a></li>
        <li class="list-group-item"><a href="/contact/">Nous contacter</a></li>
        <li class="list-group-item"><a href="#">FAQ (foire à questions)</a></li>
    </ul>
</div>
<div class="content-box profile">
    <h1 class="icon section-title">Mon profil</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="#">Mes appels d'offres</a></li>
        <li class="list-group-item"><a href="/mon-compte/p/mes-organisations/">Mes clients et fournisseurs</a></li>
        <li class="list-group-item"><a href="#">Mes évènements</a></li>
        <li class="list-group-item"><a href="/mon-compte/">Mes informations</a></li>
    </ul>
</div>
