{% extends "themes/html5.html" %}
{% load url from future %}
{% load i18n %}
{% load staticfiles %}

{% block theme-design-css %}
    <link rel="stylesheet" type="text/css" href="{% static "themes/adepes/default/css/index.css" %}">
{% endblock %}

{% block meta_title %}Identification{% endblock %}
{% block title %}Identification{% endblock %}

{% block header %}
    <div id="top-line" class="bg-orange">
        <div class="bg-green"></div>
        <div class="bg-blue"></div>
    </div>
    <header id="header">
        {% include "adepes/default/templates/header.html" %}
    </header>
{% endblock header %}

{% block footer %}
    <footer id="footer">
        {% include "adepes/default/templates/footer.html" %}
    </footer>
{% endblock footer %}

{% block content %}
<div id="main-content">
    <div id="layout-content">
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="reg">
            
            {% if form.errors %}
                <p class="warn_errors">Votre identifiant et votre mot de passe ne correspondent pas.<br/>
                    Vérifiez votre mot de passe SVP.</p>
            {% endif %}
            
        <fieldset class="client">
            {{ form.as_p }} 
            <p><label></label><input class="bouton" id="ajouter" type="submit" value="Valider" /></p>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
        </fieldset>
        </form>

        <!-- FIXME
        <p>Vous avez <a href="/client/password/reset/">oublié votre mot de passe</a> ? </p>
        -->
    </div>
</div>
{% endblock content %}

