{% load ionyweb_tags %}

<div class="main-content">
    <div class="container">
        <div class="content-box">
            {% render_layout "partenaires" %}
            <footer class="main-footer">
                <ul class="nav nav-pills">
                    <li><a href="/plan-du-site/">Plan du site</a></li>
                    <li><a href="/mentions-legales/">Mentions légales</a></li>
                    <li><a href="/charte/">Charte</a></li>
                    <li><a href="/contact/">Contact</a></li>
                </ul>
            </footer>
        </div>
    </div>
</div>

