<div class="content-box profile">
    <h1 class="iconf-user section-title">Formulaires</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/actualites/p/ajouter/">Proposer un article</a></li>
        <li class="list-group-item"><a href="/agenda/p/ajouter/">Proposer un événement</a></li>
        {% if my_organization.is_customer %}
            <li class="list-group-item"><a href="/appels-doffres/p/ajouter/">Déposer un appel d'offres</a></li>
        {% endif %}
    </ul>
</div>
