<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
body, p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
img {
    margin-top: 20px;
}
</style>
</head>
<body>

<p>Madame, Monsieur,</p>

<p>Après une longue gestation, la première version de la plateforme des achats solidaires et responsables <b>achetons-solidaires-paca.com est en ligne.</b><br/>
La plupart des fonctionnalités sont déjà disponibles&nbsp;: annuaire, cartographie, appels d’offres et actualités.<br/>
La deuxième version sera livrée en octobre 2013 avec les fonctions supplémentaires&nbsp;: agenda, espace ressources et interactivité entre fournisseurs et acheteurs.<br/>
Votre structure a été référencée dans achetons-solidaires-paca.com par l’APEAS ou l’un de ses partenaires (Coorace, Piles 04, Piles 83, La Claie, Pecos, Promess 84, CIE 84, RESSPA).</p>

<p style="border: solid 1px black; padding: 10px;">Pour accéder à votre compte et effectuer des modifications et/ou des compléments d'information concernant votre entreprise&nbsp;:<br/>
<a href="http://www.achetons-solidaires-paca.com">www.achetons-solidaires-paca.com</a> puis cliquez sur le bouton « VOTRE COMPTE, identifiez vous » en haut à droite de la page.<br/>
Nom d’utilisateur&nbsp;: {{ username }}<br>
Mot de passe&nbsp;: {{ password }}</p>

<p>Si vous rencontrez des problèmes particuliers, contactez-nous par  message électronique à&nbsp;: <a href="mailto:{{ sender }}">{{ sender }}</a> et laissez-nous vos coordonnées téléphoniques avec les créneaux horaires où nous pouvons vous rappeler.</p>

<p>Nous souhaitons vivement que cette plateforme contribue pleinement au développement économique des entreprises sociales et solidaires. Elle évoluera au fil du temps pour être encore plus proche de vos besoins.<br/> Communiquez largement autour de vous pour qu'elle   soit connue, utilisée et utile pour vous. N’hésitez pas à nous faire part de vos retours&nbsp;!<br/>
Enfin, nous serons heureux de vous accueillir  lors du forum régional des achats responsables et solidaires,  mardi 19 novembre 2013 à l’Hôtel de région à Marseille de 13h30 à 17h30.<br/>
Réservez cette date dans votre agenda&nbsp;!</p>

<p>Bien cordialement,<br/>
Marc Alphandery et Myriam Carbonare<br/>
Tel&nbsp;: 04 91 99 02 40<br/>
Courriel&nbsp;: <a href="mailto:{{ sender }}">{{ sender }}</a></p>

<img src="partenaires_apeas.png">
<img src="forum.png">

</body>
</html>
