<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
body, p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
img {
    margin-top: 20px;
}
</style>
</head>
<body>

<p style="text-align: center"><img src="logo_ceres.png"></p>

<p>Madame, Monsieur,</p>

<p>Vous avez référencé votre structure sur CERES, la plateforme des achats responsables en Nord-Pas-de-Calais, et nous vous en remercions. Vous pouvez désormais accéder à votre fiche fournisseur sur laquelle nous avons intégré les données que vous nous avez communiquées, et utiliser les fonctionnalités suivantes&nbsp;:<ol>
<li><b>L'annuaire et la cartographie des entreprises sociales et solidaires</b><br/>
Recherchez les fournisseurs responsables référencés par territoire, secteur d’activité, sous forme de liste ou de cartographie.</li>
<li><b>L'annuaire et la cartographie des acheteurs publics et privés</b><br/>
Identifiez les acheteurs publics et privés ayant fait appel aux fournisseurs référencés, sous forme de liste ou de cartographie.</li></ol></p>

<p>Progressivement, de nouvelles fonctionnalités vont être mises en place d’ici au lancement officiel  dans le courant du second semestre 2012&nbsp;:<ol>
<li><b>L'espace Appel d’offres</b><br/>
Recherchez les appels d'offres des acheteurs publics et privés partenaires.<br/>
Réceptionnez par Email des appels d’offres publics et privés correspondant à votre profil.<br/>
Recevez des demandes de devis par Email.</li>
<li><b>Actualités</b><br/>
Consultez les actualités et les événements régionaux, nationaux et européens de l'achat socialement responsable.</li>
<li><b>Centre ressources</b><br/>
Découvrez des portraits de fournisseurs responsables et d'acheteurs partenaires, des fiches d’expériences, des outils (vidéothèque, bibliographies, etc.) sur l'achat responsable.</li></p>

<div style="border: solid 1px black; padding: 10px;">
<p>Pour accéder dès à présent à votre compte et modifier et/ou compléter les informations concernant votre entreprise&nbsp;:<ol>
<li>Connectez-vous sur CERES&nbsp;: <a href="http://www.ceres-npdc.org">www.ceres-npdc.org</a></li>
<li>Jusqu’au lancement officiel du site, celui-ci est en accès restreint, vous devez donc entrer les identifiants suivants&nbsp;:<br/>
utilisateur&nbsp;: ceres<br/>
mot de passe&nbsp;: serecnpdc<br/>
<b>Vous êtes sur CERES !</b><br/>
<li>Pour vous identifier et pouvoir modifier les informations vous concernant, cliquez sur l’onglet « Votre compte » en haut à droite de la page, et identifiez-vous grâce aux identifiants suivants&nbsp;:<br/>
utilisateur&nbsp;: {{ username }}<br/>
mot de passe&nbsp;: {{ password }}</li></ol></p>
</div>

<p>Si vous rencontrez des problèmes particuliers, contactez-nous par mail à ceresnpdc@gmail.com ou par téléphone&nbsp;:
<table>
<tr><td><img src="logo_uriae.png" valign="middle"></td><td width="25px"></td><td valign="middle">Marine LEMOINE à l’URIAE&nbsp;: 03 20 53 51 97</td></tr>
<tr><td><img src="logo_apes.png" valign="middle"></td><td width="25px"></td><td valign="middle">Joackim LEBRUN à l’APES&nbsp;: 03 20 30 98 25</td></tr>
</table></p>

<p>Nous souhaitons vivement que CERES contribue pleinement au développement économique des entreprises sociales et solidaires. Elle évoluera au fil du temps pour être encore plus proche de vos besoins. Communiquez largement autour de vous pour qu'elle soit connue, utilisée et utile pour vous. N’hésitez pas à nous faire part de vos retours !</p>

<p>L’URIAE et l’APES</p>

<p style="text-align: center"><img src="partenaires_uriae.png"></p>

</body>
</html>
