<div class="content-box">
    <h1 class="icon-zoom-on section-title">Decouvrez</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/zoom-sur/?tab=appels-doffres">Zoom sur des appels d'offres</a></li>
        <li class="list-group-item"><a href="/zoom-sur/?tab=fournisseurs">Zoom sur des fournisseurs</a></li>
        <li class="list-group-item"><a href="/zoom-sur/?tab=acheteurs">Zoom sur des acheteurs</a></li>
        <li class="list-group-item"><a href="/zoom-sur/?tab=innovations">Zoom sur des innovations</a></li>
    </ul>
</div>
<div class="content-box">
    <h1 class="icon-participez section-title">Participez</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/actualites/p/ajouter/">Proposer une actualité</a></li>
        <li class="list-group-item"><a href="/agenda/p/ajouter/">Proposer un événement</a></li>
        {% if my_organization.is_customer %}
            <li class="list-group-item"><a href="/appels-doffres/p/ajouter/">Déposer un appel d'offres</a></li>
        {% endif %}
{% comment %}
        <li class="list-group-item"><a href="#">Suggérer des améliorations</a></li>
{% endcomment %}
    </ul>
</div>
<div class="content-box">
    <h1 class="iconf-discussion section-title">Echangez</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/communiquer/">Communiquer avec des acheteurs et fournisseurs</a></li>
    </ul>
</div>
<div class="content-box">
    <h1 class="icon-follow section-title">Suivez-nous</h1>
    <ul class="list-group">
        <li class="list-group-item"><a href="/newsletter">S'abonner à la newsletter</a></li>
        <li class="list-group-item"><a href="/contact/">Nous contacter</a></li>
        <li class="list-group-item"><a href="/foire-aux-questions/">FAQ (foire aux questions)</a></li>
    </ul>
</div>
<div class="content-box profile">
    <h1 class="iconf-user section-title">Mon compte</h1>
    <ul class="list-group">
        {% if request.user.is_authenticated %}
            <li class="list-group-item"><a href="/annuaire/p/modifier/">Mes informations</a></li>
            <li class="list-group-item"><a href="/mon-compte/p/mes-preferences/">Mes préférences</a></li>
            {% if my_organization.is_customer or my_organization.is_provider %}
                <li class="list-group-item"><a href="/mon-compte/p/mes-appels-doffres/">Mes appels d'offres</a></li>
            {% endif %}
            {% if my_organization.is_provider %}
                <li class="list-group-item"><a href="/mon-compte/p/mes-offres/">Mes offres</a></li>
            {% endif %}
            <li class="list-group-item"><a href="/mon-compte/p/mes-organisations/">Mes clients et fournisseurs</a></li>
            <li class="list-group-item"><a href="/actualites/p/mes-actualites/">Mes actualités</a></li>
            <li class="list-group-item"><a href="/agenda/p/mes-evenements/">Mes événements</a></li>
            <li class="list-group-item"><a href="/mon-compte/p/deconnexion/?next=/">Déconnexion</a></li>
        {% else %}
            <li class="list-group-item"><a href="/mon-compte/">Connexion</a></li>
        {% endif %}
    </ul>
</div>
