{% load thumbnail ascii %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-box request-proposal-detail">
                    <div class="section-head">
                        <a href="../../?{{ get_params }}" class="btn-icon icon-back btn-icon--request-proposal-detail">Retour a la liste</a>
                        <ul class="pager pager--request-proposal-detail">
                            {#<li><a href="#prev" class="prev"><span class="arrow">g</span> Événement précédent</a></li>#}
                            {#<li><a href="#next" class="next">Événement suivant <span class="arrow">f</span></a></li>#}
                        </ul>
                    </div>
                    <div class="event-detail__head">
                        <div class="clearfix request-proposal-detail__title">
                            <h1 class="title">{{ event.title }}</h1>
{% comment %}
                            <div class="utils-links">
                                <a href="" class="iconf-facebook-circled">Facebook</a>
                                <a href="" class="iconf-twitter-circled">Twitter</a>
                                <a href="" class="iconf-gplus-circled">Google+</a>
                                <a href="" class="iconf-circled">??</a>
                                <a href="" class="iconf-social-email">Email</a>
                                <a href="" class="iconf-share-circled">Partager</a>
                                <a href="" class="iconf-print-circled">Imprimer</a>
                            </div>
{% endcomment %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="event-detail__meta">
                                <div class="iconf-calendar">
                                    {{ event.date_str }}
                                </div>
                                {% if event.location %}
                                    <div class="iconf-pins">
                                        {{ event.location.city }} ({{ event.location.zipcode|slice:":2"}})
                                    </div>
                                {% endif %}
                            </div>
                            {{ event.description|safe }}
                            <dl>
                                {% if event.organization %}
                                    <dt class="iconf-user">Structure organisatrice :</dt>
                                    {% if event.organization.status == 'V' %}
                                        <dd><a href="{{ event.organization.get_absolute_url }}">{{ event.organization }}</a></dd>
                                    {% elif event.organization.web %}
                                        <dd><a href="{{ event.organization.web }}" target="_blank">{{ event.organization }}</a></dd>
                                    {% else %}
                                        <dd>{{ event.organization }}</dd>
                                    {% endif %}
                                {% endif %}

                                {% if event.location %}
                                    <dt class="iconf-pins">Lieu :</dt>
                                    <dd>{{ event.location }}</dd>
                                {% endif %}

                                {% if event.occurrence_set.all %}
                                    <dt class="iconf-time">Horaires :</dt>
                                    <dd>{{ event.time_str|safe }}</dd>
                                {% endif %}

                                {% if event.category.all %}
                                    <dt class="iconf-content-43">Catégorie :</dt>
                                    <dd>{{ event.category.all|join:", " }}</dd>
                                {% endif %}

                                {% if event.activity.all %}
                                    <dt class="iconf-info-circled">Secteur d'activité :</dt>
                                    <dd>{{ event.activity_str|safe }}</dd>
                                {% endif %}

                                {% if event.theme.all %}
                                    <dt class="iconf-rubon">Thématique :</dt>
                                    <dd>{{ event.theme.all|join:"<br/>"|safe }}</dd>
                                {% endif %}

                                {% if event.tags.all %}
                                    <dt class="iconf-fontawesome-webfont">Mots clés :</dt>
                                    <dd>{{ event.tags.all|join:", " }}</dd>
                                {% endif %}
                            </dl>
                        </div>
                        <div class="col-lg-6">

                            {% if event.images %}
                                <div id="carousel-organization-images" class="carousel carousel-dark slide">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        {% for image in event.images %}
                                            <li data-target="#carousel-organization-images" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                                        {% endfor %}
                                    </ol>
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        {% for image in event.images %}
                                            <div class="item {% if forloop.first %}active{% endif %}">
                                                {% thumbnail image.attachment "320x240" upscale=0 as thumb_image %}
                                                    <img src="{{ thumb_image.url }}" width="320" height="240" alt="{{ image.name }}" style="padding: {{ thumb_image|margin:"320x240" }}">
                                                {% endthumbnail %}
                                                <div class="carousel-caption">
                                                    {{ image.name }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-organization-images" data-slide="prev">
                                        <span class="icon-prev"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-organization-images" data-slide="next">
                                        <span class="icon-next"></span>
                                    </a>
                                </div>

                                <hr class="dotted">
                            {% endif %}
                            {% if event.documents %}
                                <h5>Documents associés :</h5>
                                <ul class="list-unstyled text-center">
                                    {% for doc in event.documents %}
                                        <li><a href="{{ doc.attachment.url }}" target="_blank"><i class="icon-export-doc"></i>{{ doc.name }}<span class="file-size">- {{ doc.attachment.size|filesizeformat }}</span></a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="section-foot">
                        <ul class="pager pager--request-proposal-detail">
                            {#<li><a href="#prev" class="prev"><span class="arrow">g</span> Événement précédent</a></li>#}
                            {#<li><a href="#next" class="next">Événement suivant <span class="arrow">f</span></a></li>#}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     $('.carousel').carousel('cycle');
</script>
