<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar sidebar--left">
                {% include "forms-menu.html" %}
            </div>
            <div class="col-lg-9">
                <div class="content-box">
                    <div class="section-head">
                        <h1 class="title">MES EVENEMENTS</h1>
                    </div>

                    {% for event in events %}
                        <div class="row">
                            <div class="col-lg-12">
                                {{ event.title }}
                                <div class="pull-right">
                                    <a class="btn btn-default" href="/agenda/p/{{ event.pk }}/">Voir</a>
                                    <a class="btn btn-second" href="/agenda/p/{{ event.pk }}/modifier/">Modifier</a>
                                    <a class="btn btn-danger" href="/agenda/p/{{ event.pk }}/supprimer/">Supprimer</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}

                    <p class="text-center">
                        <a class="btn btn-default" href="/agenda/p/ajouter/">Ajouter</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
