<div class="tabbed-news">

    <div class="navbar">
        <i class="icon-en-direct"></i>
        <h1 class="navbar-brand title">{{ object.title }}</h1>
        <ul class="nav navbar-nav">
            <li data-tab="Les appels$d'offres" {% if tab == 'appels-doffres' %}class="active"{% endif %}><a href="javascript:void(0);">Appels d'offres</a></li>
            <li data-tab="Les$fournisseurs" {% if tab == 'fournisseurs' %}class="active"{% endif %}><a href="javascript:void(0);">Fournisseurs</a></li>
            <li data-tab="Les$acheteurs" {% if tab == 'acheteurs' %}class="active"{% endif %}><a href="javascript:void(0);">Acheteurs</a></li>
            <li data-tab="Les$innovations" {% if tab == 'innovations' %}class="active"{% endif %}><a href="javascript:void(0);">Innovations</a></li>
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="vignette">
                <div class="border"></div>
                <span>Les appels<br />d'offres</span>
                <div class="border"></div>
            </div>
        </div>
        <div class="col-lg-9 direct-content" data-tab="Les appels$d'offres" {% if tab != 'appels-doffres' %}style="display: none;"{% endif %}>
            {% for call in calls %}
                <div class="article-extract">
                    <h3><a href="/appels-doffres/p/{{ call.pk }}/">{{ call.title }}</a></h3>
                    <div class="article-extract__meta">{{ call.organization.label }}</div>
                    <p>Date limite de réception des offres&nbsp;: {{ call.deadline|date:"j F Y à G\hi" }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-9 direct-content" data-tab="Les$fournisseurs" {% if tab != 'fournisseurs' %}style="display: none;"{% endif %}>
            {% for provider in providers %}
                <div class="article-extract">
                    <h3><a href="/annuaire/p/{{ provider.pk }}/">{{ provider.label }}</a></h3>
                    <div class="article-extract__meta">
                        {{ provider.main_location.zipcode }} {{ provider.main_location.city }} -
                        {{ provider.offer_activities|truncatewords:10 }}
                    </div>
                    <p>{{ provider.brief_description|truncatewords:10 }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-9 direct-content" data-tab="Les$acheteurs" {% if tab != 'acheteurs' %}style="display: none;"{% endif %}>
            {% for customer in customers %}
                <div class="article-extract">
                    <h3><a href="/annuaire/p/{{ customer.pk }}/">{{ customer.label }}</a></h3>
                    <div class="article-extract__meta">{{ customer.main_location.zipcode }} {{ customer.main_location.city }}</div>
                    <p>{{ customer.brief_description|truncatewords:10 }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="col-lg-9 direct-content" data-tab="Les$innovations" {% if tab != 'innovations' %}style="display: none;"{% endif %}>
            {% for org in orgs %}
                <div class="article-extract">
                    <h3><a href="{{ org.get_absolute_url }}">{{ org.title }}</a></h3>
                    <div class="article-extract__meta">Témoignage</div>
                    <div class="cms-content">{{ org.testimony|striptags|truncatewords:10|safe }}</div>
                </div>
            {% endfor %}
            {% for actu in actus %}
                <div class="article-extract">
                    <h3><a href="{{ actu.get_absolute_url }}">{{ actu.title }}</a></h3>
                    <div class="article-extract__meta">Innovation</div>
                    <div class="cms-content">{{ actu.body|striptags|truncatewords:10|safe }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script type="text/javascript">
        $(".vignette span").html($('.navbar-nav li.active').attr("data-tab").replace('$', '<br/>'));
        $(".navbar-nav li").click(function(event) {
            var tab = $(this).attr("data-tab");
            $(".navbar-nav li").removeClass("active");
            $(".direct-content").hide();
            $(".vignette span").html(tab.replace('$', '<br/>'));
            $(this).addClass("active");
            $(".direct-content[data-tab=\"" + tab + "\" ]").show();
        });
    </script>

</div>
