{% load thumbnail ascii %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-box request-proposal-detail">
                    <div class="section-head">
                        <a href="../../?{{ get_params }}" class="btn-icon icon-back btn-icon--request-proposal-detail">Retour a la liste</a>
                        <ul class="pager pager--request-proposal-detail">
                            {#<li><a href="#prev" class="prev"><span class="arrow">g</span> Titre de l'appel d'offre précédent</a></li>#}
                            {#<li><a href="#next" class="next">Titre de l'appel d'offre suivant <span class="arrow">f</span></a></li>#}
                        </ul>
                    </div>
                    <div class="row clearfix request-proposal-detail__head">
                        <div class="col-lg-9">
                            <div class="clearfix dotted request-proposal-detail__title">
                                <h1 class="title">{{ call.title|ascii }}</h1>
{% comment %}
                                <div class="utils-links">
                                    <a href="" class="iconf-facebook-circled">Facebook</a>
                                    <a href="" class="iconf-twitter-circled">Twitter</a>
                                    <a href="" class="iconf-gplus-circled">Google+</a>
                                    <a href="" class="iconf-circled">??</a>
                                    <a href="" class="iconf-social-email">Courriel</a>
                                    <a href="" class="iconf-share-circled">Partager</a>
                                    <a href="" class="iconf-print-circled">Imprimer</a>
                                </div>
{% endcomment %}
                            </div>
                            <div class="market-type pull-left">
                                <i class="uppercase market">Marché</i><br/>
                                <span class="uppercase">{{ call.organization.get_customer_type_display }}</span>
                            </div>
                            <div class="pull-left numbers">Numéros des articles clausés : {{ call.clauses|join:", " }}</div>
                        </div>
                        <div class="col-lg-3">
                            <img class="pull-right" src="" width="130" height="90" />
                        </div>
                        <hr class="dotted">
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <dl>
                                <dt class="iconf-user">Structure organisatrice :</dt>
                                <dd>
                                    {% if call.organization.status == 'V' %}
                                        <a href="{{ call.organization.get_absolute_url }}">{{ call.organization }}</a>
                                    {% elif call.organization.pref_email %}
                                        <a href="mailto:{{ call.organization.pref_email.content }}">{{ call.organization }}</a>
                                    {% else %}
                                        {{ call.organization }}
                                    {% endif %}
                                </dd>

                                <dt class="iconf-calendar">Data et heure limite de réception :</dt>
                                <dd>{{ call.deadline|date:"j F Y à G\hi" }}</dd>

                                <dt class="iconf-info-circled">Secteur{{ call.activity.count|pluralize }} d'activité :</dt>
                                {% for activity in call.activity.all %}
                                    <dd>{{ activity.label }}</dd>
                                {% endfor %}

                                <dt class="iconf-pins">Lieu{{ call.areas.count|pluralize:"x" }} d'exécution :</dt>
                                <dd>{{ call.areas.all|join:", " }}</dd>

                                <dt class="iconf-bag">Numéros du ou des lots :</dt>
                                <dd>{{ call.lot_numbers }}</dd>
                            </dl>
                        </div>
                        <div class="col-lg-7">
                            <p>{{ call.description|linebreaks }}</p>
                            <a href="{{ call.url }}" target="_blank" class="website">{{ call.url }}</a>
{% comment %}
                            <hr class="dotted">
                            <h5>Documents associés :</h5>
                            <ul class="list-unstyled text-center">
                                <li><a href="fd"><i class="icon-export-doc"></i>Lorem ipsum <span class="file-size">- 14mo</span></a></li>
                            </ul>
{% endcomment %}
                        </div>
                    </div>
                    <div class="section-foot">
                        <ul class="pager pager--request-proposal-detail">
                            {#<li><a href="#prev" class="prev"><span class="arrow">g</span> Titre de l'appel d'offre précédent</a></li>#}
                            {#<li><a href="#next" class="next">Titre de l'appel d'offre suivant <span class="arrow">f</span></a></li>#}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>
        </div>
    </div>
</div>
