{% load thumbnail crispy_forms_tags staticfiles %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">
                    <div class="section-head">
                        <h1 class="title">DEPOSER UN APPEL D'OFFRES</h1>
                    </div>
                    <form class="form form-horizontal" action="" enctype="multipart/form-data" method="post">
                        <fieldset>
                            {% crispy form %}
                        </fieldset>
                        <fieldset class="text-center">
                            <button type="submit" class="btn btn-default">Enregistrer</button>
                        </fieldset>
                        <p><b>*</b> champs obligatoires</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

$('#id_deadline').datetimepicker({'format': 'dd/mm/yyyy hh:ii', 'weekStart': 1, 'language': 'fr', 'minuteStep': 15});

jQuery(document).ready(function() {

    $('.as-selections').addClass('form-control');
    $('.as-input').removeClass('form-control');

    /* Select2 */

    $('select').select2();

});

</script>
