Page&nbsp;:&nbsp;
{% for p in calls.paginator.page_range %}
    <a href="?{{ get_params }}&page={{ p }}" class="page-link{% if p == calls.number %} current{% endif %}">{{ p }}</a>
{% endfor %}
<span class="step-links">
    <a href="?{{ get_params }}&page={{ calls.previous_page_number }}" class="prev-link" disabled="{{ calls.has_previous|yesno:"true,false" }}">&nbsp;</a>
    <a href="?{{ get_params }}&page={{ calls.next_page_number }}" class="next-link" disabled="{{ calls.has_next|yesno:"true,false" }}">Page suivante</a>
</span>
