<div class="section-head">
    <h1 class="title">MON COMPTE</h1>
</div>

{% if my_organization %}
    {% if my_organization.status == 'I' %}
        <p>Vos informations ne seront pas visibles publiquement tant que vous n'aurez pas <a href="/annuaire/p/modifier/">proposé</a> votre fiche pour validation.</p>
    {% endif %}
    {% if my_organization.status == 'P' and my_organization.offer_set.all %}
        <p>Vos informations sont en cours de validation par les administration du site. Elle ne seront visibles publiquement qu'après validation.</p>
    {% endif %}
    <p><a href="{{ my_organization.get_absolute_url }}">Voir ma fiche</a></p>
    <p><a href="/annuaire/p/modifier/">Modifier ma fiche</a></p>
{% endif %}
<p><a href="p/deconnexion/?next=/">Déconnexion</a></p>
