{% load url from future %}
{% load i18n %}

<form method="post" action="">

    {% csrf_token %}

    {% if form.errors %}
        <p class="errorlist">Votre identifiant et votre mot de passe ne correspondent pas.<br/>
            Vérifiez votre mot de passe SVP.</p>
    {% endif %}


    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username.errors }}
                    {{ form.username }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-group">
                    {{ form.password.label_tag }}
                    {{ form.password.errors }}
                    {{ form.password }}
                </div>
            </div>
        </div>

    </div>

    <p class="text-center">
        <button class="btn btn-default" type="submit">Connexion</button>
    </p>

    <input type="hidden" name="next" value="{{ next }}" />

</form>

<p>Vous n'avez pas encore de compte&nbsp;? <a href="../inscription/">Inscrivez-vous</a>.</p>

<!-- FIXME
<p>Vous avez <a href="/client/password/reset/">oublié votre mot de passe</a> ?</p>
-->
