<div class="my-offers">

<div class="section-head">
    <h1 class="title">MES APPELS D'OFFRES</h1>
</div>

<ul>
    {% for call in calls %}
        <li>{{ call }} - <a href="{{ call.get_absolute_url }}">Afficher</a></li>
    {% endfor %}
</ul>

{% if my_organization.is_customer %}
    {% for call in my_organization.future_calls %}
        <div class="row">
            <div class="col-lg-5">
                <a href="{{ call.get_absolute_url }}">{{ call.title }}</a>
            </div>
            <div class="col-lg-3">
                {{ call.deadline|date:"d/m/Y h:m" }}
            </div>
            <div class="col-lg-2">
                <a class="btn btn-second" href="{{ call.get_absolute_url }}modifier/">Modifier</a>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{{ call.get_absolute_url }}supprimer/" data-title="{{ call.title }}">Supprimer</a>
            </div>
        </div>
        <hr>
    {% endfor %}
    <p class="text-center"><a class="btn btn-default" href="/appels-doffres/p/ajouter/">Ajouter</a></p>

    <script type="text/javascript">
        $('.btn-danger').click(function(event) {
            event.preventDefault();
            if (confirm("Voulez vous réellement supprimer l'appel d'offres " + $(this).attr('data-title') + " ?"))
                window.location = $(this).attr('href');
        });
    </script>

{% endif %}

<ul class="list-group">
    <li class="list-group-item"><a href="/mon-compte/">Retour à mon compte</a></li>
</ul>

</div>
