<div class="my-offers">

<div class="section-head">
    <h1 class="title">MES OFFRES</h1>
</div>

{% if my_organization.status == 'I' %}
    <p>Vos offres ne seront pas visibles publiquement tant que vous n'aurez pas <a href="/annuaire/p/modifier/">proposé</a> votre fiche pour validation.</p>
{% endif %}
{% if my_organization.status == 'P' and my_organization.offer_set.all %}
    <p>Vos offres sont en cours de validation par les administrateurs du site. Elle ne seront visibles publiquement qu'après validation.</p>
{% endif %}

{% if my_organization %}
    {% for offer in my_organization.offer_set.all %}
        <div class="row">
            <div class="col-lg-8">
                {{ offer.activities }}
            </div>
            <div class="col-lg-2">
                <a class="btn btn-second" href="{{ offer.get_absolute_url }}modifier/">Modifier</a>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{{ offer.get_absolute_url }}supprimer/">Supprimer</a>
            </div>
        </div>
        <hr>
    {% endfor %}
<p class="text-center"><a class="btn btn-default" href="/annuaire/p/offre/ajouter/">Ajouter</a></p>
{% else %}
    Votre compte n'est lié à aucune organisation.
{% endif %}

</div>
