<h2>Mes clients et fournisseurs</h2>

{% if customers %}
    <h3>Mes clients</h3>
    <ul>
        {% for org in customers %}
            <li>{{ org }} - <a href="{{ org.get_absolute_url }}">Afficher</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if providers %}
    <h3>Mes fournisseurs</h3>
    <ul>
        {% for org in providers %}
            <li>{{ org }} - <a href="{{ org.get_absolute_url }}">Afficher</a></li>
        {% endfor %}
    </ul>
{% endif %}

<ul class="list-group">
    <li class="list-group-item"><a href="/mon-compte/">Retour à mon compte</a></li>
</ul>
