{% load url from future %}
{% load i18n %}

<div class="section-head">
    <h1 class="title">{% trans "Password reset" %}</h1>
</div>

{% if form.email.errors %}
    <div class="alert {% if form.errors %}alert-error{% else %}alert-success{% endif %}">
        {{ form.email.errors }}
    </div>
{% endif %}

<div class="form">
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
    <form class="form-horizontal" action="" method="post">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
                <label class="control-label col-lg-4 requiredField" for="id_email">
                    {% trans 'E-mail address:' %}
                </label>
                <div class="controls col-lg-8">
                    <input id="id_email" class="emailinput form-control" type="email" required="" name="email">
                </div>
            </div>
            <div class="col-offset-3 col-lg-7">
                <p class="text-center">
                    <button type="submit" class="btn btn-default">
                        {% trans 'Reset my password' %}
                    </button>
                </p>
            </div>
        </fieldset>
        <input type="hidden" name="contactform" value="{{ object.pk }}" />
    </form>
</div>
