<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
body, p, a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
img {
    margin-top: 20px;
}
</style>
</head>
<body>

<p>Bonjour,</p>

<p>Votre structure est inscrite dans la BDIS, la cartographie des initiatives solidaires en PACA. Après quelques mois de flottements, celle-ci évolue et vous offre désormais la possibilité de modifier votre fiche directement en ligne. Pour cela, vous disposez désormais de codes d'accès&nbsp;:</p>

<p style="border: solid 1px black; padding: 10px;">Identifiant&nbsp;: {{ username }}<br>
Mot de passe&nbsp;: {{ password }}</p>

<p>Avec ceux-ci, vous pourrez vous connecter en cliquant sur l'onglet "Votre compte" (en haut à droite de la page d'accueil) et accéder aux informations de votre structure pour les mettre à jour. Nous vous encourageons à vous y rendre sans plus attendre&nbsp;: <a href="http://www.bdis-paca.com">bdis-paca.fr</a></p>

<img src="logo-bdis.png">

<p>N'hésitez pas à encourager d'autres structures qui ne seraient pas référencées à s'y inscrire. La BDIS est un outil au service des acteurs de l'économie solidaire pour leur donner toujours plus de visibilité.  Évidemment tout y est GRATUIT, il serait dommage de ne pas en profiter. Des questions, des difficultés techniques&nbsp;? Contactez-nous par mail&nbsp;: <a href="mailto:bdis@apeas.fr">bdis@apeas.fr</a></p>

<p>Solidairement vôtre&nbsp;!<br/>
Pierre Julien Bouniol<br/>
Chargé d'information et de communication</p>

<img src="logo-apeas.png">

<p>Apeas&nbsp;: Agence Provençale pour une économie alternative et solidaire<br>
28 Boulevard National 13001 Marseille – 04 91 99 02 42<br>
<a href="http://www.apeas.fr">http://www.apeas.fr</a>

</body>
</html>
