{% load staticfiles %}

<p>Bien cordialement,</p>

{% if slug == "paca" %}
    <p>L'équipe d'achetons-solidaires-paca.com<br>
    <a href="mailto:contact@achetons-solidaires-paca.com">contact@achetons-solidaires-paca.com</a><br>
    04.91.99.02.45<br></p>

    <p>La plateforme achetons-solidaires-paca.com est pilotée
    par l'<a href="http://www.apeas.fr/">APEAS</a></p>

    <p style="text-align: center"><img src="{% static "img/logo-achetons-solidaires-paca.jpg" %}"></p>
{% endif %}

{% if slug == "mp" %}
    <p>L'équipe d'achetons-responsables-mp.com<br>
    Courriel: <a href="mailto:contact@adepes.org">contact@adepes.org</a></p>
    Tel: 05.61.73.04.86

    <p style="text-align: center"><img src="{% static "img/logo-achetons-responsables-mp.png" %}"></p>

    <p>Le site achetons-responsables-mp.com est piloté par l'ADEPES<br/>
    Agence de Développement et de Promotion de l'Economie Solidaire<br/>
    Midi-Pyrénées</p>
{% endif %}

{% if slug == "npdc" %}
    <p>L'équipe de ceres-npdc.org<br>
    <a href="mailto:ceresnpdc@gmail.com">ceresnpdc@gmail.com</a><br></p>

    <p style="text-align: center"><img src="{% static "img/logo-ceres-npdc.jpg" %}"></p>
{% endif %}
