/*
 * HTML5 Boilerplate
 *
 */
/* ==========================================================================
   Base styles
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/* ==========================================================================
    Custom mixins
    ========================================================================== */
/* ==========================================================================
    Custom fonts
    ========================================================================== */
@charset "UTF-8";
@font-face {
  font-family: "icons-font";
  src: url("fonts/icons-font.eot");
  src: url("fonts/icons-font.eot?#iefix") format("embedded-opentype"), url("fonts/icons-font.ttf") format("truetype"), url("fonts/icons-font.svg#icons-font") format("svg"), url("fonts/icons-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "icons-font";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}
[class^="iconf-"]:before,
[class*=" iconf-"]:before {
  font-family: "icons-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}
.iconf {
  font-family: "icons-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}
.iconf-emails:before {
  content: "a";
}
.iconf-user:before {
  content: "b";
}
.iconf-info-circled:before {
  content: "d";
}
.iconf-discussion:before {
  content: "e";
}
.iconf-chevron-right:before {
  content: "f";
}
.iconf-chevron-left:before {
  content: "g";
}
.iconf-fontawesome-webfont:before {
  content: "j";
}
.iconf-content-43:before {
  content: "l";
}
.iconf-twitter-circled:before {
  content: "k";
}
.iconf-gplus-circled:before {
  content: "m";
}
.iconf-facebook-circled:before {
  content: "n";
}
.iconf-calendar:before {
  content: "o";
}
.iconf-email:before {
  content: "p";
}
.iconf-phone:before {
  content: "q";
}
.iconf-fax:before {
  content: "r";
}
.iconf-pins:before {
  content: "s";
}
.iconf-circled:before {
  content: "t";
}
.iconf-print:before {
  content: "u";
}
.iconf-rubon:before {
  content: "v";
}
.iconf-print-circled:before {
  content: "x";
}
.iconf-share-circled:before {
  content: "y";
}
.iconf-time:before {
  content: "z";
}
.iconf-social-email:before {
  content: "w";
}
.iconf-book:before {
  content: "c";
}
.iconf-geopins:before {
  content: "h";
}
.iconf-chevron-down:before {
  content: "i";
}
.iconf-chevron-up:before {
  content: "A";
}
/* ==========================================================================
    Sprites
    ========================================================================== */
[class^="icon-"]:before,
[class*=" icon-"]:before,
i[class*="icon-"] {
  display: block;
  content: "";
  background-image: url(../img/sprite.png);
}
.icon-a-la-une {
  background-position: 0 0;
}
.icon-back {
  background-position: 0 -65px;
}
.icon-book {
  background-position: 0 -130px;
}
.icon-cancel-small {
  background-position: 0 -239px;
}
.icon-cancel {
  background-position: 0 -297px;
}
.icon-check {
  background-position: 0 -365px;
}
.icon-en-direct {
  background-position: 0 -429px;
}
.icon-export-doc {
  background-position: 0 -505px;
}
.icon-export-pdf {
  background-position: 0 -578px;
}
.icon-follow {
  background-position: 0 -651px;
}
.icon-participez {
  background-position: 0 -745px;
}
.icon-search-small {
  background-position: 0 -813px;
}
.icon-search {
  background-position: 0 -784px;
}
.icon-zoom-on {
  background-position: 0 -944px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */
.uppercase {
  text-transform: uppercase;
}
.navbar {
  min-height: 0;
}
body {
  background-color: #f5f5f5;
  color: #757475;
  padding-bottom: 30px;
  font-size: 13px;
}
h3 {
  font-size: 14px;
  margin-top: 5px;
  color: #575657;
}
a {
  color: #757475;
}
a:hover,
a:focus {
  color: #98be2c;
  text-decoration: none;
}
img {
  max-width: 100%;
}
.nav-fluid {
  width: 100%;
  font-size: 0.1px;
}
.nav-fluid > li {
  float: none;
  display: inline-block;
  font-size: 14px;
}
.nav-fluid:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.topsite-border div {
  height: 5px;
  width: 33.33333333333333%;
  float: left;
}
.topsite-border .color1 {
  background-color: #98be2c;
}
.topsite-border .color2 {
  background-color: #699fd1;
}
.topsite-border .color3 {
  background-color: #ee8908;
}
.main-header nav:before,
.main-header nav:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.main-header nav:after {
  clear: both;
}
.main-header .second-nav {
  margin-top: 10px;
}
.main-header .second-nav li:before {
  border-left-color: #d3d3d3;
}
.main-header .second-nav li:first-child a {
  border-radius: 5px 0 0 5px;
}
.main-header .second-nav li:last-child a {
  border-radius: 0 5px 5px 0;
}
.main-header .second-nav .nav {
  float: right;
  text-align: center;
}
.main-header .second-nav .nav > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}
.main-header .second-nav .nav a {
  color: white;
  background-color: #a5ca72;
}
.main-header .second-nav .nav > .active > a,
.main-header .second-nav .nav > .active > a:hover,
.main-header .second-nav .nav > .active > a:focus {
  color: #58762f;
  background-color: #a5ca72;
}
.main-header .second-nav .nav > li > a:hover,
.main-header .second-nav .nav > li > a:focus {
  color: #58762f;
  background-color: #a5ca72;
}
.main-header .main-nav {
  background-color: #7d8ea5;
  background-image: -webkit-linear-gradient(bottom, #778796, #92a5ba);
  background-image: -moz-linear-gradient(bottom, #778796, #92a5ba);
  background-image: -o-linear-gradient(bottom, #778796, #92a5ba);
  background-image: -ms-linear-gradient(bottom, #778796, #92a5ba);
  background-image: linear-gradient(to top, #778796, #92a5ba);
  margin-top: 10px;
}
.main-header .main-nav .navbar-nav {
  float: none;
}
.main-header .main-nav .navbar-nav a {
  background: none;
  color: white;
  text-shadow: 0 -1px #3b4451;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px;
}
.main-header .main-nav .navbar-nav > .active > a,
.main-header .main-nav .navbar-nav > .active > a:hover,
.main-header .main-nav .navbar-nav > .active > a:focus {
  color: white;
  background-color: #ee8808;
  -webkit-box-shadow: inset 2px 3px 15px rgba(0, 0, 0, 0.4);
  box-shadow: inset 2px 3px 15px rgba(0, 0, 0, 0.4);
  background-image: -webkit-linear-gradient(bottom, #444e5b, #738296);
  background-image: -moz-linear-gradient(bottom, #444e5b, #738296);
  background-image: -o-linear-gradient(bottom, #444e5b, #738296);
  background-image: -ms-linear-gradient(bottom, #444e5b, #738296);
  background-image: linear-gradient(to top, #444e5b, #738296);
}
.main-header .main-nav .navbar-nav > li > a:hover,
.main-header .main-nav .navbar-nav > li > a:focus {
  color: white;
  background-color: #ee8808;
  background-image: -webkit-linear-gradient(bottom, #637381, #8f9faf);
  background-image: -moz-linear-gradient(bottom, #637381, #8f9faf);
  background-image: -o-linear-gradient(bottom, #637381, #8f9faf);
  background-image: -ms-linear-gradient(bottom, #637381, #8f9faf);
  background-image: linear-gradient(to top, #637381, #8f9faf);
}
.main-header .login {
  float: right;
  background-color: #7d8ea5;
  color: white;
  font-weight: 300;
  line-height: 1.25;
  text-align: left;
  min-width: 245px;
  padding: 11px;
  margin-top: 10px;
}
.main-header .login:hover {
  background-color: #596b84;
}
.main-header .login img {
  display: block;
  height: 35px;
  width: 35px;
  float: left;
  padding-right: 5px;
  border-right: 1px solid white;
  margin-right: 15px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.main-header .search {
  float: left;
  width: 55%;
  margin-top: 10px;
}
.main-header .search .btn {
  background-color: #d4d9e0;
  border-color: #7d8ea5;
  color: #7d8ea5;
  border-right: none;
}
.main-header .search .form-control {
  border-color: #7d8ea5;
  border-left: none;
  background: #ffffff url(../img/sprite.png) 178px -710px no-repeat;
}
.top-content {
  padding: 16px 0;
  background-color: #699fd1;
}
.top-content h3 {
  margin-top: 0;
}
.top-content form {
  text-align: center;
  margin-top: 10px;
}
.top-content form .dropdown {
  margin-bottom: 10px;
}
.main-content .content-box {
  border: 4px solid #e8ebef;
}
.main-content .content-box .item {
  margin-top: 20px;
}
.main-content .content-box .item:first-child {
  margin-top: 0;
}
.main-content .content-box.top .result {
  background: #699fd1;
  color: white;
  margin-top: -10px;
  margin-right: -10px;
  text-align: center;
}
.main-content .content-box.top .result .number {
  font-size: 30px;
  font-weight: bold;
}
.main-footer {
  background: #444a5a;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px;
  font-size: 0.1px;
  text-align: center;
}
.main-footer .nav-pills > li.active > a,
.main-footer .nav-pills > li.active > a:hover,
.main-footer .nav-pills > li.active > a:focus,
.main-footer .nav > li > a:hover,
.main-footer .nav > li > a:focus {
  background: transparent;
  color: white;
}
.main-footer .nav-pills > li {
  float: none;
  display: inline-block;
  font-size: 14px;
}
.main-footer .nav-pills > li + li {
  margin-left: 0;
}
/* ==========================================================================
   Page specifics styles
   ========================================================================== */
.home .top-content {
  background: url(../img/bg-home.jpg) repeat-x;
}
@media (min-width: 992px) {
  .home .top-content .top-content-box {
    min-height: 357px;
  }
}
.home .top-content .pager.simple {
  float: right;
  position: absolute;
  top: 8px;
  right: 15px;
}
.home .top-content .iconf-geopins {
  padding-bottom: 5px;
}
.home .top-content .iconf-geopins:before {
  font-size: 24px;
  vertical-align: middle;
  margin-right: 0.4em;
}
.home .top-content .iconf-book {
  padding-bottom: 8px;
}
.home .top-content .iconf-book:before {
  font-size: 21px;
  vertical-align: middle;
  margin-right: 0.4em;
}
.home .main-content .content-box {
  width: 100%;
  border-top: none;
  margin-top: 0;
}
.home .main-content .article-extract {
  width: 33.33333333333333%;
  float: left;
  padding: 10px 0 0 20px;
}
.home .main-content .navbar {
  padding-left: 0;
  padding-right: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #7d8ea5;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}
.home .main-content .navbar i {
  display: block;
  background-color: #ee8908;
  width: 50px;
  height: 44px;
  float: left;
  margin-right: 20px;
  position: relative;
}
.home .main-content .navbar i:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-left-color: #ee8908;
  border-width: 8px;
  top: 50%;
  margin-top: -8px;
}
.home .main-content .navbar .navbar-brand {
  padding: 12px 10px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.home .main-content .navbar .navbar-brand:hover {
  color: #757475;
}
.home .main-content .navbar .nav > li > a {
  padding-top: 12px;
  padding-bottom: 12px;
}
.home .main-content .navbar .nav > li > a:before {
  font-family: "icons-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  content: "f";
  margin-right: 3px;
}
.home .main-content .navbar li:before {
  top: 4px;
  bottom: 4px;
  border-left-color: #d6d6d6;
}
.home .main-content .navbar li.active + li:before {
  display: none;
}
.home .main-content .navbar li.active a:before {
  content: "i";
}
.home .main-content .navbar .navbar-nav {
  float: right;
}
.home .main-content .navbar-nav > .active > a,
.home .main-content .navbar-nav > .active > a:hover,
.home .main-content .navbar-nav > .active > a:focus {
  background-color: #d4d9e0;
}
.home .main-content .vignette {
  margin: 50px auto 0 auto;
}
.content-box .section-head .pager {
  margin-top: -10px;
}
.mycustomform .btn {
  min-width: 140px;
}
.btn-second.iconf-geopins {
  position: relative;
  padding-left: 40px;
}
.btn-second.iconf-geopins:before {
  font-size: 24px;
  position: absolute;
  top: 4px;
  left: 10px;
}
.icon-en-direct {
  background-position: 10px -421px;
}
.section-title.icon-a-la-une:before {
  background-position: 5px 8px;
}
.section-title.icon-search:before {
  background-position: 7px -777px;
}
.section-title.icon-participez:before {
  background-position: 10px -646px;
}
.section-title.icon-follow:before {
  background-position: 10px -902px;
}
.section-title.icon-zoom-on:before {
  background-position: 6px -845px;
}
.section-title[class^="iconf-"]:before {
  padding-top: 5px;
}
.sidebar .content-box {
  padding-bottom: 0;
}
.sidebar .list-group {
  margin-bottom: 0;
}
.sidebar .section-title {
  margin-bottom: 0;
}
/* ==========================================================================
   Objects classes
   ========================================================================== */
.top-content-box {
  padding: 10px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.top-content-box .col-subtitle {
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
}
.top-content-box .col-subtitle:before {
  font-size: 10px;
  margin-right: 0.9em;
  color: #7d8ea5;
}
.box {
  padding: 10px;
}
.content-box {
  padding: 10px;
  background-color: white;
  margin-top: 10px;
}
.content-box.top {
  border-color: #699fd1;
}
.content-box.profile {
  border-color: #7d8ea5;
}
.content-box.profile .section-title:before {
  background-color: #7d8ea5;
}
.section-head {
  border-bottom: 1px dotted #d3d3d3;
}
.section-head:after {
  display: block;
  height: 1px;
  margin-bottom: 1px;
  margin-top: 10px;
  content: "";
  border-top: 1px dotted #d3d3d3;
  border-bottom: 1px dotted #d3d3d3;
}
.title {
  text-transform: uppercase;
  color: #757475;
  font-size: 19px;
}
.section-title {
  margin-top: 3px;
  text-transform: uppercase;
  color: #757475;
  font-size: 19px;
  border-bottom: 1px dotted #d3d3d3;
}
.section-title:after {
  display: block;
  height: 1px;
  margin-bottom: 1px;
  margin-top: 10px;
  content: "";
  border-top: 1px dotted #d3d3d3;
  border-bottom: 1px dotted #d3d3d3;
}
.section-title[class^="icon-"]:before,
.section-title[class*=" icon-"]:before,
.section-title[class^="iconf-"]:before {
  display: block;
  height: 30px;
  width: 30px;
  float: left;
  border-radius: 15px;
  margin-top: -5px;
  margin-right: 15px;
  background-color: #ee8908;
  color: white;
  font-size: 20px;
  background-repeat: no-repeat;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav li:before {
  position: absolute;
  display: block;
  content: "";
  border-left: 1px solid white;
  width: 1px;
  left: 0;
  top: 7px;
  bottom: 7px;
  z-index: 1;
}
.nav li:first-child:before {
  display: none;
}
.dropdown {
  position: relative;
}
.dropdown .dropdown-toggle {
  width: 100%;
  text-align: left;
  color: #7d8ea5;
  background: white;
  border-color: #d6d6d6;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5), 0px 2px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 0px 0px rgba(255,255,255,0.5), 0px 2px 0px 0px rgba(0,0,0,0.1);
}
.dropdown .dropdown-toggle:hover,
.dropdown .dropdown-toggle:focus {
  color: white;
  background: #7d8ea5;
  border-color: #596b84;
}
.dropdown .dropdown-toggle .caret {
  position: absolute;
  top: 15px;
  right: 10px;
  border-top-color: #7d8ea5;
}
.dropdown .dropdown-toggle:hover .caret,
.dropdown .dropdown-toggle:active .caret,
.dropdown .dropdown-toggle:focus .caret {
  border-top-color: white;
}
.dropdown .dropdown-menu {
  width: 100%;
  padding: 5px 10px;
  border-top: none;
  border-radius: 0 0 4px 4px;
  border-color: #d6d6d6;
  text-align: left;
}
.btn {
  padding: 6px 12px;
}
.btn-default {
  padding: 8px 12px;
  font-size: 12px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.32);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #acce7d;
  border: solid 1px #6a9232;
  background-image: -webkit-linear-gradient(top, #acce7d, #8ebc4c);
  background-image: -moz-linear-gradient(top, #acce7d, #8ebc4c);
  background-image: -o-linear-gradient(top, #acce7d, #8ebc4c);
  background-image: -ms-linear-gradient(top, #acce7d, #8ebc4c);
  background-image: linear-gradient(to bottom, #acce7d, #8ebc4c);
  -webkit-box-shadow: inset 0 2px rgba(255,255,255,.25), inset 0 0 5px rgba(255,255,255,.31);
  box-shadow: inset 0 2px rgba(255,255,255,.25), inset 0 0 5px rgba(255,255,255,.31);
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  background-color: #6e9735;
  border: solid 1px #51742e;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
}
.btn-default:active,
.btn-default.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-second {
  color: white;
  padding: 8px 12px;
  font-size: 12px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.32);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #699fd1;
  border: solid 1px #699fd1;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.34), rgba(255, 255, 255, 0));
  -webkit-box-shadow: inset 0 2px rgba(255,255,255,.25), inset 0 0 5px rgba(255,255,255,.31);
  box-shadow: inset 0 2px rgba(255,255,255,.25), inset 0 0 5px rgba(255,255,255,.31);
}
.btn-second:hover,
.btn-second:focus,
.btn-second:active,
.btn-second.active {
  background-color: #699fd1;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}
.btn-second:active,
.btn-second.active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.form-control {
  padding: 6px 12px;
  height: 34px;
}
.article-extract h3 {
  margin-top: 0;
}
.article-meta {
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
  font-style: italic;
  font-size: 12px;
  color: #999999;
  padding: 2px 0;
  margin-bottom: 10px;
  line-height: 1.2;
}
.vignette {
  width: 126px;
  height: 126px;
  -webkit-border-radius: 63px;
  -moz-border-radius: 63px;
  border-radius: 63px;
  -webkit-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  transform: rotate(-13deg);
  background-color: #699fd1;
  text-align: center;
  font-size: 16px;
  color: white;
  border: 5px solid white;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  padding-top: 26px;
}
.vignette .border {
  width: 50%;
  height: 1px;
  background: white;
  margin: 5px auto;
}
.list-group-item {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-right: 0;
}
.list-group-item:first-child {
  border-top: none;
}
.media > .pull-left {
  margin-right: 20px;
}
.pagination {
  margin: 0;
  vertical-align: middle;
}
.pagination > li > a,
.pagination > li > span {
  background: #7d8ea5;
  color: white;
}
.pagination > li > a {
  border: none;
  border-radius: 0;
  margin-right: 1px;
  padding: 2px 6px;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background: #699fd1;
  color: white;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}
.pagination + .pager {
  margin: 0;
  float: right;
}
.pagination + .pager a {
  background: transparent;
  color: #7d8ea5;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 9px 14px 7px 14px;
  margin-top: 2px;
}
.pagination + .pager a:hover {
  background: transparent;
  color: black;
}
.pagination + .pager li {
  display: block;
  float: left;
}
.pagination + .pager li:first-child a {
  border-radius: 0;
  border-right: 1px solid #999999;
}
.pagination + .pager li a.inactive {
  overflow: hidden;
  width: 28px;
  white-space: nowrap;
  color: #d6d6d6;
  border-right-color: #d6d6d6;
}
.pagination + .pager .next span,
.pagination + .pager .prev span {
  font-family: "icons-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  vertical-align: middle;
  margin-left: -2px;
  float: none;
  position: relative;
}
.pagination + .pager .next {
  padding-right: 0;
}
.pagination + .pager .prev {
  padding-left: 0;
}
.pager.simple {
  margin: 0;
}
.pager.simple a {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 5px 3px;
}
.pager.simple a:before {
  font-size: 20px;
  color: #7d8ea5;
}
.pager.simple a.inactive {
  color: #999999;
}
.pager.simple a:hover {
  background: none;
}
.pager.simple a:hover:before {
  color: black;
}
/* mobile devices */
@media (max-width: 480px) {
  
}
/* Tablets and up */
@media (min-width: 768px) {
  
}
/* Tablets/desktops and up */
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
  .main-header .main-nav .navbar-nav a {
    width: 140px;
  }
  .main-header .search {
    margin-top: 35px;
  }
}
/* Large desktops and up */
@media (min-width: 1200px) {
  
}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
