#orgsmap {
    height: 800px;
}

/*select {
    margin-left: 0;
    margin-bottom: 5px;
    width: 100%;
}*/


/* Formsets */

.delete-input {
    display: none;
}


/* Autocomplete */

.ui-autocomplete {
    background: #ffffff;
/*     width: 400px; */
    border: solid #333333 1px;
}


/* Autosuggest  */

/*ul.as-selections li {
    list-style-type: none;
    font-weight: bold;
}*/

input.as-input {
    border-style: none;
    float: left;
    width: 150px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-moz-shadow:none;
    margin-top: 4px;
}

div.as-results {
    padding-left: 0;
}

ul.as-list {
    padding: 0;
}

ul.as-list li {
    list-style-type: none;
    padding: 2px;
}

/* Form errors */
.help-block strong {
    color: #B94A48;
}

#wa_panel_center li.as-result-item, #wa_panel_center li.as-result-item.active {
    color: #000000;
}
