{% load staticfiles %}

<div class="top-content-box home-search">
    <h1 class="icon-pasr section-title">{{ object.title }}</h1>
    <p>{{ object.texte_annuaire }}</p>
    <div class="row">
        <ul class="col-lg-6">
            {% for u in univers1 %}
                <li><a href="/annuaire/?sector={{ u.pk }}">{{ u }}</a></li>
            {% endfor %}
        </ul>
        <ul class="col-lg-6">
            {% for u in univers2 %}
                <li><a href="/annuaire/?sector={{ u.pk }}">{{ u }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{% static "js/svg-map-" %}{{ REGION_LABEL|slugify }}.js"></script>
