{% extends 'admin/change_form.html' %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <div class="well">
{% if object_id %}
        Code HTML à insérer pour afficher l'iframe&nbsp;:
        <pre>
&lt;iframe src="http://{{ domain }}/iframe/{{ object_id }}/"&gt;&lt;/iframe&gt;
        </pre>
{% else %}
        <p>Cliquez sur le bouton « Enregistrer et continuer les modifications »
        pour afficher le code HTML à insérer pour afficher l'iframe.</p>
{% endif %}
    </div>
    {{ block.super }}
{% endblock %}
