{% load i18n staticfiles crispy_forms_tags ascii %}

<div class="main-content">
    <div class="container">
        <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-lg-3 sidebar sidebar--left">
                    <div class="content-box profile">
                        <h2 class="iconf-user section-title">Mon compte</h2>
                        <ul class="list-group">
                            {% for title in titles %}
                                <li class="list-group-item"><a href="javascript: void();" {% if forloop.first %}class="active"{% endif %}>{{ title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="content-box">
                        <div class="section-head">
                            <h1 class="title">IDENTIFICATION</h1>
                            <ul class="pager">
                                <li><a href="javascript:;" class="prev inactive"><span class="arrow">g</span> Précédent</a></li>
                                <li><a href="javascript: void()" class="next">Étape <span class="step-current">1</span>/<span class="step-total">11 <span class="arrow">f</span></a></li>
                            </ul>
                        </div>
                        <div class="form">
                            <fieldset>
                                {% crispy form %}
                            </fieldset>
                            <fieldset class="text-center">
                                <button type="submit" class="btn btn-default">Enregistrer</button>
                            </fieldset>
                            <p><b>*</b> champs obligatoires</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="charte">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-title__bg"></div>
                <h4 class="modal-title title">Charte de l'utilisateur</h4>
            </div>
            <div class="modal-body">
                {{ charte|safe }}
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

jQuery(document).ready(function() {

    $('.control-label').tooltip({html: true});

}

</script>
