{% load thumbnail %}

{% if org.is_provider %}
<div class="row">
    <div class="col-lg-4 sidebar--left">
        <div class="content-box">
            <h3 class="section-title">Biens et services</h3>
            <ul class="list-group">
                {% for o in org.offer_set.all %}
                    <li class="list-group-item">
                        {% if org.offer_set.all|length == 1 %}
                            {% include "page_directory/detail-offer.html" %}
                            {% thumbnail org.offer_set.all.0.image "200x150" upscale=0 as image %}
                                <img src="{{ image.url }}">
                            {% endthumbnail %}
                        {% else %}
                            <h3>{{ o.activities }}</h3>
                            <p>{{ o.description|truncatewords_html:"30"|linebreaks }}</p>
                            <a data-toggle="modal" href="#offer-{{ o.pk }}">Voir les détails</a>
                            {% thumbnail o.image "200x150" upscale=0 as image %}
                                <img src="{{ image.url }}">
                            {% endthumbnail %}
                            <div class="modal fade" id="offer-{{ o.pk }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="modal-title__bg"></div>
                                            <h4 class="modal-title title">Offre</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% include "page_directory/detail-offer.html" %}
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if org.guaranties.all %}
                <h3 class="section-title">Garanties</h3>
                <div class="garanties">
                    {% for g in org.guaranties.all %}
                        <div class="media">
                            <a class="pull-left" href="#">
                                {% thumbnail g.logo "55x48" upscale=0 as logo %}
                                    <img class="media-object" src="{{ logo.url }}" width="55" height="48" style="padding: {{ logo|margin:"55x48" }}">
                                {% endthumbnail %}
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ g.name }}</h4>
                                {# <a href="">Lien</a> #}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-8">
{% endif %}
        <div class="fiche clearfix">
            {% thumbnail org.logo "130x60" upscale=0 as logo %}
                <img class="fiche__logo" src="{{ logo.url }}" width="130" height="60" style="padding: {{ logo|margin:"130x60" }}" />
            {% endthumbnail %}
            <h2 class="fiche__title">{{ org.title }}</h2>
            <div class="activity-container">
                <h6 class="activity">{{ org.offer_activities_links }}</h6>
                <h6 class="activity">{{ org.offer_areas }}</h6>
            </div>
            <div class="fiche__date">
                Dernière Mise à jour<br/>
                <span class="date">{{ org.modification|date:"d/m/Y" }}</span>
            </div>
        </div>
        <p>{{ org.brief_description|linebreaks }}</p>
        <dl>
            {% if org.legal_status %}
                <dt class="iconf-info-circled">Statut juridique :</dt>
                <dd>{{ org.legal_status }}</dd>
            {% endif %}

            {% if org.category.all or org.agreement_iae.all %}
                <dt class="iconf-bag">Spécificités :</dt>
                {% if org.category.all %}<dd>{{ org.category.all|join:", " }}</dd>{% endif %}
                {% for agreement in org.agreement_iae.all %}
                    {% if agreement.label == "Conventionnement IAE" %}
                        <dd>Conventionnement IAE {{ org.category_iae_desc }}</dd>
                    {% else %}
                        <dd>Agrément {{ agreement.label }}</dd>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if org.transverse_themes.count %}
                <dt class="iconf-rubon">Thématique{{ org.transverse_themes.count|pluralize }} :</dt>
                {% for theme in org.transverse_themes.all %}
                    <dd><a href="/recherche/?q={{ theme|urlencode }}">{{ theme }}</a></dd>
                {% endfor %}
            {% endif %}

            {% if org.tags.all %}
                <dt class="iconf-fontawesome-webfont">Mots clés :</dt>
                {% for tag in org.tags.all %}
                    <dd><a href="/recherche/?q={{ tag|urlencode }}">{{ tag }}</a></dd>
                {% endfor %}
            {% endif %}
        </dl>
        {% if org.images %}
            <div id="carousel-organization-images" class="carousel slide">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for image in org.images %}
                        <li data-target="#carousel-organization-images" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for image in org.images %}
                        <div class="item {% if forloop.first %}active{% endif %}">
                            {% thumbnail image.attachment "400x300" upscale=0 as thumb_image %}
                                <img src="{{ thumb_image.url }}" width="400" height="300" alt="{{ image.name }}" style="padding: {{ thumb_image|margin:"400x300" }}">
                            {% endthumbnail %}
                            <div class="carousel-caption">
                                {{ image.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-organization-images" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#carousel-organization-images" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        {% endif %}
        <div class="cms-content">{{ org.description|safe }}</div>
        {% if org.documents %}
            <hr class="dotted">
            <h5>Documents associés :</h5>
            <ul class="list-unstyled text-center">
                {% for doc in org.documents %}
                    <li><a href="{{ doc.attachment.url }}" target="_blank"><i class="icon-export-doc"></i>{{ doc.name }}<span class="file-size">- {{ doc.attachment.size|filesizeformat }}</span></a></li>
                {% endfor %}
            </ul>
        {% endif %}
{% if org.is_provider %}
    </div>
</div>
{% endif %}
{# <p class="text-center"><a class="btn btn-default" href="modifier/">Modifier la fiche</a></p> #}

<script type="text/javascript">
     $('.carousel').carousel('cycle');
</script>
