{% load thumbnail %}

<div class="row">
    <div class="col-lg-4 sidebar--left">
        <div class="content-box">
            <h3 class="section-title">Biens et services</h3>
            <ul class="list-group">
                {% for o in org.offer_set.all %}
                    <li class="list-group-item">
                        <h3>{{ o.activity.label }}</h3>
                        {# <h6 class="subtitle">{{ o.activity.label }}</h6> #}
                        <p>{{ o.description }}</p>
                        {% if o.targets.all %}
                            <p><b>Cibles&nbsp;:</b><br/>
                            {{ o.targets.all|join:", " }}</p>
                        {% endif %}
                        {% if o.technical_means %}
                            <p><b>Moyens techniques disponibles&nbsp;:</b><br/>
                            {{ o.technical_means }}</p>
                        {% endif %}
                        {% if o.workforce %}
                            <p><b>Effectif total mobilisable&nbsp;:</b><br/>
                            {{ o.workforce }}&nbsp;ETP</p>
                        {% endif %}
                        {% if o.practical_modalities %}
                            <p><b>Modalité pratique&nbsp;:</b><br/>
                            {{ o.practical_modalities }}</p>
                        {% endif %}
                        {% if o.area.all %}
                            <p><b>Couverture géographique&nbsp;:</b><br/>
                            {{ o.area.all|join:", " }}</p>
                        {% endif %}
                        {% if o.tags.all %}
                            <p><b>Mots clés&nbsp;:</b><br/>
                            {{ o.tags.all|join:", " }}</p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if org.guaranties.all %}
                <h3 class="section-title">Garanties</h3>
                <div class="garanties">
                    {% for g in org.guaranties.all %}
                        <div class="media">
                            <a class="pull-left" href="#">
                                {% thumbnail g.logo "55x48" upscale=0 as logo %}
                                    <img class="media-object" src="{{ logo.url }}" width="55" height="48" style="padding: {{ logo|margin:"55x48" }}">
                                {% endthumbnail %}
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ g.name }}</h4>
                                {# <a href="">Lien</a> #}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-8">
        <div class="fiche clearfix">
            {% thumbnail org.logo "130x60" upscale=0 as logo %}
                <img class="fiche__logo" src="{{ logo.url }}" width="130" height="60" style="padding: {{ logo|margin:"130x60" }}" />
            {% endthumbnail %}
            <div>
                <h2 class="fiche__title">{{ org.title }}</h2>
                <h6 class="activity">{{ org.offer_activities }}</h6>
                <h6 class="activity">{{ org.offer_areas }}</h6>
            </div>
            <div class="fiche__date">
                Dernière Mise à jour<br/>
                <span class="date">{{ org.modification|date:"d/m/Y" }}</span>
            </div>
        </div>
        <p>{{ org.brief_description }}</p>
        <dl>
            <dt class="iconf-info-circled">Statut juridique :</dt>
            <dd>{{ org.legal_status }}</dd>
            {% if org.category_iae %}<dd>{{ org.category_iae.all|join:", " }}</dd>{% endif %}
            {% if org.category %}<dd>{{ org.category.all|join:", " }}</dd>{% endif %}

            <dt class="iconf-rubon">Thématique{{ org.transverse_themes.count|pluralize }} :</dt>
            {% for theme in org.transverse_themes.all %}
                <dd>{{ theme }}</dd>
            {% endfor %}

            <dt class="iconf-fontawesome-webfont">Mots clés :</dt>
            <dd>{{ org.tags.all|join:", " }}</dd>
        </dl>
        <div class="cms-content">{{ org.description|safe }}</div>
    </div>
</div>
{# <p class="text-center"><a class="btn btn-default" href="modifier/">Modifier la fiche</a></p> #}
