<div class="section-head">
    <ul class="pager">
        <li><a href="javascript: void();" class="prev inactive"><span class="arrow">g</span>Précédent</a></li>
        <li><a href="javascript: void();" class="next"><span class="step-current">1</span>/<span class="step-total">1</span> <span class="arrow">f</span></a></li>
    </ul>
</div>
<div class="article">
    <h1>Titre du temoignage</h1>
    <div class="article__meta">
        <span class="small">Par <a href="#" class="name">Nom Prénom</a></span>
        <hr>
        <span class="small iconf-time date">10 Avril 2013</span>
    </div>
    <div class="cms-content">{{ org.testimony|safe }}</div>
</div>
<div class="section-foot">
    <ul class="pager">
        <li><a href="javascript: void();" class="prev inactive"><span class="arrow">g</span>Précédent</a></li>
        <li><a href="javascript: void();" class="next"><span class="step-current">1</span>/<span class="step-total">1</span> <span class="arrow">f</span></a></li>
    </ul>
</div>
