{% load thumbnail %}

<div class="row fiche">
    <div class="col-lg-6">
        {% thumbnail org.logo "122x63" upscale=0 as logo %}
            <img class="fiche__logo" src="{{ logo.url }}" width="122" height="63" style="padding: {{ logo|margin:"122x63" }}" />
        {% endthumbnail %}
        <div>
            <h2 class="fiche__title">{{ org.title }}</h2>
            <h6 class="status">{{ org.acronym }}</h6>
        </div>
    </div>
    <div class="col-lg-6">
        <h5 class="short-desc">Description succinte</h5>
        {{ org.brief_description }}
    </div>
</div>
<hr/>
<div class="row fiche">
    {% if org.pref_address or org.pref_phone or org.pref_email or org.web %}
        <div class="col-lg-6 contact-details">
            <h5>Adresse</h5>
            <ul>
                {% with org.pref_address as l %}{% if l %}
                    <li class="address">{{ l.adr1 }}<br/>{% if l.adr2 %}{{ l.adr2 }}<br/>{% endif %}{{ l.zipcode }} {{ l.city }}</li>
                {% endif %}{% endwith %}
                {% if org.pref_email %}<li class="mail"><span>Courriel : <a href="mailto:{{ org.pref_email.content }}">{{ org.pref_email.content }}</a></span></li>{% endif %}
                {% if org.pref_phone %}<li class="phone"><span>Tél : {{ org.pref_phone.content }}</span></li>{% endif %}
                {% if org.web %}<li class=""><span>Web : <a href="{{ org.web }}" target="_blank">{{ org.web }}</a></span></li>{% endif %}
            </ul>
        </div>
    {% endif %}
    {% if org.engagement_set.all %}
        <div class="col-lg-6 contact-details">
            <h5>Interlocuteur</h5>
            <ul>
                {% with org.engagement_set.all.0 as e %}
                    <li class="name"><span class="name__name">{{ e.person.last_name }}</span> <span class="name__surname">{{ e.person.first_name }}</span></li>
                    <li class="function">{{ e.role|default:"" }}</li>
                    {% if e.email %}<li class="mail">Courriel&nbsp;: <a href="mailto:{{ e.email }}">{{ e.email }}</a></li>{% endif %}
                    {% if e.tel %}<li class="">Tél.&nbsp;: {{ e.tel }}</li>{% endif %}
                {% endwith %}
            </ul>
        </div>
    {% endif %}
</div>
<hr/>
{% if org.customer_activities %}
    <div class="fiche">
        <h5>Achats responsables recherchés</h5>
        {{ org.customer_activities_links }}
    </div>
    <hr/>
{% endif %}
{% if org.tags.all %}
    <div class="fiche">
        <h5>Mots clés</h5>
        {% for tag in org.tags.all %}
            <a href="/recherche/?q={{ tag|urlencode }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </div>
    <hr/>
{% endif %}
{% if org.description %}
    <div class="fiche">
        <h5>Description détaillée</h5>
        <div class="cms-content">{{ org.description|safe }}</div>
    </div>
{% endif %}
