{% load thumbnail %}

<div class="row fiche">
    <div class="col-lg-6">
        {% thumbnail org.logo "122x63" upscale=0 as logo %}
            <img class="fiche__logo" src="{{ logo.url }}" width="122" height="63" style="padding: {{ logo|margin:"122x63" }}" />
        {% endthumbnail %}
        <div>
            <h2 class="fiche__title">{{ org.title }}</h2>
            <h6 class="status">{{ org.acronym }}</h6>
        </div>
    </div>
    <div class="col-lg-6">
        <h5 class="short-desc">Description succinte</h5>
        {{ org.brief_description }}
    </div>
</div>
<hr/>
<div class="row fiche">
    <div class="col-lg-6 contact-details">
    <h5>Adresse</h5>
    <ul>
        {% with org.pref_address as l %}
            <li class="address">{{ l.adr1 }}<br/>{% if l.adr2 %}{{ l.adr2 }}<br/>{% endif %}{{ l.zipcode }} {{ l.city }}</li>
            <li class="phone"><span>Tél : {{ org.pref_phone.content }}</span></li>
            {#<li class="fax"><span>Fax :</span></li>#}
            <li class="mail"><span>Email : <a href="mailto:{{ org.pref_email.content }}">{{ org.pref_email.content }}</a></span></li>
        {% endwith %}
    </ul>
    </div>
    <div class="col-lg-6 contact-details">
    <h5>Interlocuteur</h5>
    <ul>
        {% with org.engagement_set.all.0 as e %}
            <li class="name"><span class="name__name">{{ e.person.last_name }}</span> <span class="name__surname">{{ e.person.first_name }}</span></li>
            <li class="function">{{ e.role|default:"" }}</li>
            {% if e.email %}<li class="mail"><a href="mailto:{{ e.email }}">{{ e.email }}</a></li>{% endif %}
        {% endwith %}
    </ul>
    </div>
</div>
<hr/>
{% if org.customer_activities %}
    <div class="fiche">
        <h5>Achats responsables recherchés</h5>
        {{ org.customer_activities }}
    </div>
    <hr/>
{% endif %}
<div class="fiche">
    <h5>Mots clés</h5>
    {{ org.tags.all|join:", " }}
</div>
<hr/>
<div class="fiche">
    <h5>Description détaillée</h5>
    <div class="cms-content">{{ org.description|safe }}</div>
</div>
