<h3>{{ title }}</h3>
<div class="links-list clearfix">
    {% for r in relations %}
        <div class="col-lg-4 links-list-item">
            <span class="value">{{ r.target.label }}</span><br>
            {% if r.target.status == 'V' %}
                <a href="{{ r.target.get_absolute_url }}" class="links-list-item__link">Voir la fiche</a>
            {% else %}
                {% if r.target.web %}
                    <a href="{{ r.target.web }}" class="links-list-item__link">Voir le site web</a>
                {% else %}
                    &nbsp;
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>
<hr>
