<div class="row">
    <div class="col-lg-6">
        <h3>Membres</h3>
        {% for e in org.engagement_set.all %}
            <p>
                {{ e.person.first_name }} {{ e.person.last_name }}, {{ e.role|default:"" }}
                {% if e.tel %}<br/>Tél.&nbsp;: {{ e.tel }}{% endif %}
                {% if e.email %}<br/>Email&nbsp;: <a href="mailto:{{ e.email  }}">{{ e.email }}</a>{% endif %}
            </p>
        {% endfor %}
    </div>
    <div class="col-lg-6">
    {% for l in org.located.all %}
        <h3>{{ l.category|default:"Adresse principale" }}</h3>
        <p>
            {{ l.location.adr1 }}
            {% if l.location.adr2 %}<br/>{{ l.location.adr2 }}{% endif %}
            <br/>{{ l.location.zipcode }} {{ l.location.city }}
            {% for c in l.location.contact_set.all %}
                <br/>{{ c.contact_medium }}&nbsp;: {% if c.contact_medium.label == 'Email' %}<a href="mailto:{{ c.content }}">{{ c.content }}</a>{% else %}{{ c.content }}{% endif %} {{ c.details }}
            {% endfor %}
        </p>
    {% endfor %}
    {% if org.other_contacts %}
        <h3>Contact{{ org.other_contacts|length|pluralize }}</h3>
        {% for c in org.other_contacts %}
            {{ c.contact_medium }}&nbsp;: {% if c.contact_medium.label == 'Email' %}<a href="mailto:{{ c.content }}">{{ c.content }}</a>{% else %}{{ c.content }}{% endif %} {{ c.details }}<br/>
        {% endfor %}
    {% endif %}
    </div>
</div>
