{% load thumbnail %}

<div class="row">
    <div class="col-lg-4 sidebar--left">
        <div class="content-box">
            <h3 class="section-title">Biens et services</h3>
            <ul class="list-group">
                {% for o in org.offer_set.all %}
                    <li class="list-group-item">
                        {% if org.offer_set.all|length == 1 %}
                            {% include "page_directory/detail-offer.html" %}
                        {% else %}
                            <h3>{{ o.activity.label }}</h3>
                            <p>{{ o.description|truncatewords_html:"30"|linebreaks }}</p>
                            <a data-toggle="modal" href="#offer-{{ o.pk }}">Voir les détails</a>
                            <div class="modal fade" id="offer-{{ o.pk }}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="modal-title__bg"></div>
                                            <h4 class="modal-title title">Offre</h4>
                                        </div>
                                        <div class="modal-body">
                                            {% include "page_directory/detail-offer.html" %}
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            {% if org.guaranties.all %}
                <h3 class="section-title">Garanties</h3>
                <div class="garanties">
                    {% for g in org.guaranties.all %}
                        <div class="media">
                            <a class="pull-left" href="#">
                                {% thumbnail g.logo "55x48" upscale=0 as logo %}
                                    <img class="media-object" src="{{ logo.url }}" width="55" height="48" style="padding: {{ logo|margin:"55x48" }}">
                                {% endthumbnail %}
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ g.name }}</h4>
                                {# <a href="">Lien</a> #}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-8">
        <div class="fiche clearfix">
            {% thumbnail org.logo "130x60" upscale=0 as logo %}
                <img class="fiche__logo" src="{{ logo.url }}" width="130" height="60" style="padding: {{ logo|margin:"130x60" }}" />
            {% endthumbnail %}
            <div>
                <h2 class="fiche__title">{{ org.title }}</h2>
                <h6 class="activity">{{ org.offer_activities }}</h6>
                <h6 class="activity">{{ org.offer_areas }}</h6>
            </div>
            <div class="fiche__date">
                Dernière Mise à jour<br/>
                <span class="date">{{ org.modification|date:"d/m/Y" }}</span>
            </div>
        </div>
        <p>{{ org.brief_description|linebreaks }}</p>
        <dl>
            <dt class="iconf-info-circled">Statut juridique :</dt>
            <dd>{{ org.legal_status }}</dd>
            {% if org.category_iae %}<dd>{{ org.category_iae.all|join:", " }}</dd>{% endif %}
            {% if org.category %}<dd>{{ org.category.all|join:", " }}</dd>{% endif %}

            <dt class="iconf-rubon">Thématique{{ org.transverse_themes.count|pluralize }} :</dt>
            {% for theme in org.transverse_themes.all %}
                <dd>{{ theme }}</dd>
            {% endfor %}

            <dt class="iconf-fontawesome-webfont">Mots clés :</dt>
            <dd>{{ org.tags.all|join:", " }}</dd>
        </dl>
        <div class="cms-content">{{ org.description|safe }}</div>
    </div>
</div>
{# <p class="text-center"><a class="btn btn-default" href="modifier/">Modifier la fiche</a></p> #}
