<dl class="dl--raw">

    {% if org.annual_revenue %}
        <dt>Chiffre d'affaire annuel&nbsp;:</dt>
        <dd>{{ org.annual_revenue }}&nbsp;€</dd>
    {% endif %}

    {% if org.workforce %}
        <dt>Effectif total&nbsp;:</dt>
        <dd>{{ org.workforce }} ETP</dd>
    {% endif %}

    {% if org.production_workforce %}
    <dt>Effectif de production&nbsp;:</dt>
    <dd>{{ org.production_workforce }} ETP</dd>
    {% endif %}

    {% if org.supervision_workforce %}
        <dt>Effectif d'encadrement&nbsp;:</dt>
        <dd>{{ org.supervision_workforce }} ETP</dd>
    {% endif %}

    {% if org.integration_workforce %}
    <dt>Nombre de salariés en insertion&nbsp;:</dt>
    <dd>{{ org.integration_workforce }} ETP</dd>
    {% endif %}

    {% if org.annual_integration_number %}
        <dt>Nombre de personnes en insertion accompagnées par an&nbsp;:</dt>
        <dd>{{ org.annual_integration_number }}</dd>
    {% endif %}

    {% if org.references %}
        <dt>Références client&nbsp;:</dt>
        <dd>
            <ul>
                {% for r in org.references %}
                    <li>
                        <a href="{{ r.source.web }}">{{ r.source }}</a>
                        {% if r.from_year %}
                            {% if r.to_year %}
                                (de {{ r.from_year }} à {{ r.to_year }})&nbsp;:<br/>
                            {% else %}
                                (à partir de {{ r.from_year }})&nbsp;:<br/>
                            {% endif %}
                        {% else %}
                            {% if r.to_year %}
                                (jusqu'à {{ r.to_year }})&nbsp;:<br/>
                            {% else %}
                                &nbsp;:<br/>
                            {% endif %}
                        {% endif %}
                        {{ r.services }}
                    </li>
                {% endfor %}
            </ul>
        </dd>
    {% endif %}

</dl>
