{% load i18n staticfiles crispy_forms_tags ascii %}

<div class="main-content">
    <div class="container">
        <form class="form-horizontal" action="" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-lg-3 sidebar sidebar--left">
                    <div class="content-box profile">
                        <h2 class="iconf-user section-title">Mon profil</h2>
                        <ul class="list-group">
                            {% for title in titles %}
                                <li class="list-group-item"><a href="javascript: void();" {% if wizard.steps.current == forloop.counter0|stringformat:"u" %}class="active"{% endif %}>{{ title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="content-box">
                        <div class="section-head">
                            <h1 class="title">{{ title|ascii }}</h1>
                            <ul class="pager">
                                <li><a href="javascript: void();" class="prev {% if not wizard.steps.prev %}inactive{% endif %}"><span class="arrow">g</span> Précédent</a></li>
                                <li><a href="javascript: void();" class="next {% if not wizard.steps.next %}inactive{% endif %}">Étape <span class="step-current">{{ wizard.steps.step1 }}</span>/<span class="step-total">{{ wizard.steps.count }}</span> <span class="arrow">f</span></a></li>
                            </ul>
                        </div>
                        <div class="form">
                            {#<p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris</p>#}
                            {{ wizard.management_form }}
                            {% if wizard.form.form %}
                                {% crispy wizard.form wizard.form.form.helper %}
                            {% else %}
                                <fieldset>
                                    {% crispy wizard.form %}
                                </fieldset>
                            {% endif %}
                            <fieldset class="text-center">
                                {% if wizard.form.form %}
                                    <button class="add-link btn btn--form">{{ wizard.form.add_label }}</button>
                                {% endif %}
                                {% if wizard.steps.prev %}
                                    <button type="submit" name="wizard_goto_step" value="{{ wizard.steps.prev }}" class="btn btn--form">Étape précédente</button>
                                {% endif %}
                                {% if wizard.steps.next %}
                                    <button type="submit" class="btn btn-default">Étape suivante</button>
                                {% else %}
                                    <button type="submit" class="btn btn-default">Enregistrer</button>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% if charte %}

    <!-- Modal -->
    <div class="modal fade" id="charte">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-title__bg"></div>
                    <h4 class="modal-title title">Charte de l'utilisateur</h4>
                </div>
                <div class="modal-body">
                    {{ charte|safe }}
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

{% endif %}

<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript">

$('#id_1-birth, #id_2-birth').datepicker({'format': 'dd/mm/yyyy', 'weekStart': 1, 'viewMode': 'years'});

jQuery(document).ready(function() {

    $('#id_1-is_customer, #id_2-is_customer').change(function() {
        var fields = $('#div_id_1-customer_type, #div_id_2-customer_type');
        if ($(this).is(':checked')) {
            fields.show();
        } else {
            fields.hide();
        }
    });

    $('#id_1-acronym, #id_2-acronym').keyup(function() {
        var fields = $('#div_id_1-pref_label, #div_id_2-pref_label');
        if ($(this).val() != '') {
            fields.show();
        } else {
            fields.hide();
        }
    });

    $('#id_1-is_customer, #id_2-is_customer').trigger('change');
    $('#id_1-acronym, #id_2-acronym').trigger('keyup');

    $('.as-selections').addClass('form-control');
    $('.as-input').removeClass('form-control');

    /* Fix file fields */
    $('.clearablefileinput').removeClass('form-control');

    /* Select2 */

    $('select').not($('.formset-form:last select')).select2();

    /* Formset */

    $('.formset-form:last').hide();

    $('.add-link').click(function() {
        var newElement = $('.formset-form:last').clone(true);
        var total = $('#id_{{ wizard.steps.current }}-TOTAL_FORMS').val();
        newElement.find('[id^="id_"]:input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id});
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        newElement.find('select').select2();
        total++;
        $('#id_{{ wizard.steps.current }}-TOTAL_FORMS').val(total);
        $('.formset-form:last').before(newElement);
        newElement.show();
        return false;
    });

    $('.delete-link').click(function() {
        $(this).parent().find("input").prop('checked', true);
        $(this).parents("fieldset").addClass("hidden");
        return false;
    });

});

</script>
