{% extends "page_directory/edit.html" %}

{% block fields %}

<div class="container">
    {{ f.non_field_errors }}
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group {% if f.title.errors %}has-error{% endif %}">
                {{ f.title.label_tag }}
                {{ f.title.errors }}
                {{ f.title }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group {% if f.acronym.errors %}has-error{% endif %}">
                {{ f.acronym.label_tag }}
                {{ f.acronym.errors }}
                {{ f.acronym }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group {% if f.pref_label.errors %}has-error{% endif %}">
                {{ f.pref_label.label_tag }}
                {{ f.pref_label.errors }}
                {{ f.pref_label }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group {% if f.logo.errors %}has-error{% endif %}">
                {{ f.logo.label_tag }}
                {{ f.logo.errors }}
                {{ f.logo }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group {% if f.legal_status.errors %}has-error{% endif %}">
                {{ f.legal_status.label_tag }}
                {{ f.legal_status.errors }}
                {{ f.legal_status }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group {% if f.siret.errors %}has-error{% endif %}">
                {{ f.siret.label_tag }}
                {{ f.siret.errors }}
                {{ f.siret }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group {% if f.birth.errors %}has-error{% endif %}">
                {{ f.birth.label_tag }}
                {{ f.birth.errors }}
                {{ f.birth }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group {% if f.web.errors %}has-error{% endif %}">
                {{ f.web.label_tag }}
                {{ f.web.errors }}
                {{ f.web }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="checkbox-inline">
                <label class="checkbox-inline">
                    {{ f.is_provider }} Fournisseur
                </label>
                <label class="checkbox-inline">
                    {{ f.is_customer }} Acheteur
                </label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group {% if f.customer_type.errors %}has-error{% endif %}">
                {{ f.customer_type.label_tag }}
                {{ f.customer_type.errors }}
                {{ f.customer_type }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

$('#id_0-birth').datepicker({'format': 'dd/mm/yyyy', 'weekStart': 1, 'viewMode': 'years'});

jQuery(document).ready(function() {
    $('#id_0-is_customer').change(function() {
        var fields = $('#id_0-customer_type, label[for="id_0-customer_type"]')
        if ($(this).is(':checked')) {
            fields.css('visibility', 'visible');
        } else {
            fields.css('visibility', 'hidden');
        }
    });
    $('#id_0-is_customer').trigger('change');
});

{% endblock %}
