{% extends "page_directory/edit.html" %}

{% block fields %}

    {{ f.non_field_errors }}
    <div class="form-group {% if f.brief_description.errors %}has-error{% endif %}">
        {{ f.brief_description.label_tag }}
        {{ f.brief_description.errors }}
        {{ f.brief_description }}
    </div>
    <div class="form-group {% if f.description.errors %}has-error{% endif %}">
        {{ f.description.label_tag }}
        {{ f.description.errors }}
        <script type="text/javascript" src="/_tinymce/compressor/"></script>
        {{ f.description }}
    </div>
    <div class="form-group {% if f.added_value.errors %}has-error{% endif %}">
        {{ f.added_value.label_tag }}
        {{ f.added_value.errors }}
        {{ f.added_value }}
    </div>

{% endblock %}
