{% load i18n staticfiles %}

<div class="main-content">
    <div class="container">
        <div class="content-box">

            <div class="section-head">
                {{ title }}
                <ul class="pagination"></ul>
                <ul class="pager">
                    <li><a href="#"><span>g</span></a></li>
                    <li><a href="#">Étape {{ wizard.steps.step1 }} sur {{ wizard.steps.count }} <span>f</span></a></li>
                </ul>
            </div>

            <form action="" enctype="multipart/form-data" method="post">{% csrf_token %}

                {{ wizard.management_form }}

                {% with wizard.form as f %}
                    {% block fields %}{% endblock %}
                {% endwith %}

                <p class="text-center">
                    {% if wizard.steps.prev %}
                        <button class="btn btn-second" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Début</button>
                        <button class="btn btn-second" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Étape précédente</button>
                    {% endif %}
                    <button class="btn btn-default" type="submit">{% if wizard.steps.next %}Étape Suivante{% else %}Enregistrer{% endif %}</button>
                </p>

            </form>

        </div>
    </div>
</div>

<script src="{% static "js/bootstrap-datepicker.js" %}"></script>

<script type="text/javascript">
    {% block scripts %}{% endblock %}
</script>
