{% load i18n staticfiles crispy_forms_tags ascii %}

<div class="main-content">
    <div class="container">
        <form class="form-horizontal" action="/annuaire/p/modifier/{{ step.current }}/" enctype="multipart/form-data" method="post">
            <div class="row">
                <div class="col-lg-3 sidebar sidebar--left">
                    <div class="content-box profile">
                        <h2 class="iconf-user section-title">Mes information</h2>
                        <ul class="list-group">
                            {% for title in titles %}
                                <li class="list-group-item"><a href="/annuaire/p/modifier/{{ forloop.counter0 }}/" {% if step.current == forloop.counter0 %}class="active"{% endif %}>{{ title }}</a></li>
                            {% endfor %}
                            <li class="list-group-item"><a href="/mon-compte/">Retour à mon compte</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="content-box">
                        <div class="section-head">
                            <h1 class="title">{{ title|ascii }}</h1>
                            <ul class="pager">
                                {% if step.prev %}
                                    <li><a href="/annuaire/p/modifier/{{ step.prev }}/" class="prev"><span class="arrow">g</span> Précédent</a></li>
                                {% else %}
                                    <li><a href="javascript:;" class="prev"><span class="arrow">g</span> Précédent</a></li>
                                {% endif %}
                                {% if step.next %}
                                    <li><a href="/annuaire/p/modifier/{{ step.next }}/" class="next">Étape <span class="step-current">{{ step.current|add:"1" }}</span>/<span class="step-total">{{ step.count }}</span> <span class="arrow">f</span></a></li>
                                {% else %}
                                    <li><a href="javascript:;"  class="next">Étape <span class="step-current">{{ step.current|add:"1" }}</span>/<span class="step-total">{{ step.count }}</span> <span class="arrow">f</span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="form">
                            {% if form.instance.status == 'I' %}
                                <p>Un fois que vous avez cliqué sur « Enregistrer », vous pouvez revenir plus tard pour finir de saisir votre fiche. Lorsque la fiche est complète vous devez cliquer sur le bouton « Proposer » afin de soumettre la fiche pour validation aux administrateurs du site.</p>
                            {% endif %}
                            {% if form.instance.status == 'P' %}
                                <p>Votre fiche est en cours de validation par les administrateurs du site. Elle ne sera visible publiquement qu'après validation.</p>
                            {% endif %}
                            {% if form.instance.status == 'V' %}
                                <p>Votre fiche est validée.</p>
                            {% endif %}
                            {% if form.form %}
                                {{ form.management_form }}
                                {% for subform in form.forms %}
                                    {{ subform.id }}
                                    {% crispy subform %}
                                {% endfor %}
                            {% else %}
                                <fieldset>
                                    {% crispy form %}
                                </fieldset>
                            {% endif %}
                            <fieldset class="text-center">
                                {% if form.form %}
                                    <button class="add-link btn btn--form">{{ form.add_label }}</button>
                                {% endif %}
                                <button type="submit" class="btn btn-default">Enregistrer</button>
                                {% if my_organization.status == 'I' %}
                                    <button type="submit" name='propose' class="btn btn--form">Proposer la fiche</button>
                                {% endif %}
                            </fieldset>
                            <p><b>*</b> champs obligatoires lors de la proposition.</p>
                            <p><b>**</b> champs obligatoires lors de l'enregistrement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static "js/bootstrap-datepicker.js" %}"></script>
<script src="{% static "js/bootstrap-datepicker.fr.js" %}"></script>
<script type="text/javascript">

$('#id_birth').datepicker({format: 'dd/mm/yyyy', weekStart: 1, viewMode: 'years', language: 'fr', autoclose: true});

jQuery(document).ready(function() {

    $('#id_is_customer').change(function() {
        var fields = $('#div_id_customer_type');
        if ($(this).is(':checked')) {
            fields.show();
        } else {
            fields.hide();
        }
    });

    $('#id_acronym').keyup(function() {
        var fields = $('#div_id_pref_label');
        if ($(this).val() != '') {
            fields.show();
        } else {
            fields.hide();
        }
    });

    $('#id_is_customer').trigger('change');
    $('#id_acronym').trigger('keyup');

    $('.as-selections').addClass('form-control');
    $('.as-input').removeClass('form-control');

    /* Fix file fields */
    $('.clearablefileinput').removeClass('form-control');

    /* Select2 */
    $('select').not($('.formset-form:last select')).select2();

    /* Formset */
    $('.formset-form:last').hide();
    var hidden_id = $('[id$="TOTAL_FORMS"]').val() - 1;
    console.log('hidden_id: ' + hidden_id);

    $('.add-link').click(function() {
        var newElement = $('.formset-form:last').clone(true);
        var total = $('[id$="TOTAL_FORMS"]').val();
        newElement.find('[id^="id_"]:input').each(function() {
            var name = $(this).attr('name').replace('-' + hidden_id + '-','-' + total + '-');
            console.log('-' + hidden_id + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id});
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + hidden_id + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        newElement.find('select').select2();
        total++;
        $('[id$="TOTAL_FORMS"]').val(total);
        $('.formset-form:last').before(newElement);
        newElement.show();
        return false;
    });

    $('.delete-link').click(function() {
        $(this).parent().find("input").prop('checked', true);
        $(this).parents("fieldset").addClass("hidden");
        return false;
    });

});

</script>
