{% extends "page_directory/edit.html" %}

{% block fields %}

    {{ f.non_field_errors }}
    <div class="form-group {% if f.tags.errors %}has-error{% endif %}">
        {{ f.tags.label_tag }}
        {{ f.tags.errors }}
        {{ f.tags }}
    </div>
    <div class="form-group {% if f.activities.errors %}has-error{% endif %}">
        {{ f.activities.label_tag }}
        {{ f.activities.errors }}
        {{ f.activities }}
    </div>
    <div class="form-group {% if f.transverse_themes.errors %}has-error{% endif %}">
        {{ f.transverse_themes.label_tag }}
        {{ f.transverse_themes.errors }}
        {{ f.transverse_themes }}
    </div>

{% endblock %}
