{% load thumbnail %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% include "page_directory/search.html" with other="Cartographie" %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">
{% if orgs.object_list %}
                    <div class="section-head">
                        {% include "page_directory/pagination.html" %}
                    </div>
                    <div class="results">
                        {% for org in orgs %}
                            <div class="media">
                                <a class="pull-left" href="{{ object.page.get.get_absolute_url }}p/{{ org.pk }}/?{{ get_params }}&page={{ orgs.number }}">
                                    {% if org.logo %}
                                        {% thumbnail org.logo "220x140" upscale=0 as logo %}
                                            <img class="media-object" src="{{ logo.url }}" width="220" height="140" style="padding: {{ logo|margin:"220x140" }}">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img class="media-object" src="" width="220" height="140">
                                    {% endif %}
                                </a>
                                <div class="media-body">
                                    <p class="activity">{{ org.offer_activities }}</p>
                                    {% if org.nearest %}
                                        <span class="location">{{ org.nearest.zipcode }} {{ org.nearest.city }}{#{% if org.distance %} ({{ org.distance.km|floatformat:"0" }} km){% endif %}#}</span>
                                    {% elif not no_location %}
                                        {% with org.main_location.city as city %}{% if city %}
                                            <span class="location">{{ org.main_location.zipcode }} {{ city }}</span>
                                        {% endif %}{% endwith %}
                                    {% endif %}
                                    <h4 class="media-heading">{{ org.title }}</h4>
                                    <p>{{ org.brief_description|linebreaks }}</p>
                                    <a href="{{ object.page.get.get_absolute_url }}p/{{ org.pk }}/?{{ get_params }}&page={{ orgs.number }}" class="btn btn-default">Fiche personnelle</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="section-foot">
                        {% include "page_directory/pagination.html" %}
                    </div>
{% else %}
                    <div>Aucun résultat.</div>
{% endif %}
                </div>
            </div>

            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>

        </div>
    </div>
</div>
