{% load thumbnail %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form id="annuaires-search" method="GET" action="#" class="content-box top advanced-search-form">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="item">
                                <h3>Je recherche</h3>
                                <div class="dropdown">
                                    {{ form.org_type }}
                                </div>
                            </div>
                            <div class="item" id="prov-type">
                                <h3>Type de fournisseur</h3>
                                <div class="dropdown">
                                    {{ form.prov_type }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="item">
                                <h3>Secteur d'activité</h3>
                                <div class="checkbox">
                                    <label>{{ form.interim }} Mise à disposition de personnel Travail temporaire</label>
                                </div>
                                <div class="dropdown">
                                    {{ form.sector }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="item item-small">
                                <h3>Territoire</h3>
                                {{ form.area }}
                                <div class="dropdown input-group">
                                    {{ form.radius }}
                                    <span class="input-group-addon form-control-small">km</span>
                                </div>
                            </div>
                            <div class="item search">
                                {{ form.q }}
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="item">
                                <div class="result">
                                    <span class="number">{{ orgs.paginator.count }}</span> Résultat{{ orgs.paginator.count|pluralize }}
                                </div>
                            </div>
                            <div class="item">
                                <p class="text-center"><button class="btn btn-second iconf-geopins" type="submit" name="display" value="Cartographie">Cartographie</button>
                            </div>
                            <div class="item">
                                <p class="text-center"><button class="btn btn-default" type="submit" name="display" value="RECHERCHER">RECHERCHER</button></p>
                            </div>
                        </div>
                    </form>

                    <script type="text/javascript">
                        // Default button is RECHERCHER
                        $('#annuaires-search').keypress(function(e) {
                            if(e.keyCode == 13) {
                                $('#annuaires-search').submit();
                            }
                        });
                        // Show org_type search field only if "Fournisseurs" is selected
                        function org_type_change() {
                            var cell = document.getElementById('prov-type');
                            if (this.options[this.selectedIndex].value == "fournisseur") {
                                cell.style.visibility = 'visible';
                            } else {
                                cell.style.visibility = 'hidden';
                            }
                        };
                        var org_type_select = document.getElementById('id_org_type');
                        org_type_select.addEventListener(
                            "change",
                            org_type_change,
                            false
                        );
                        org_type_change.apply(org_type_select);
                    </script>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">
{% if orgs.object_list %}
                    <div class="section-head">
                        {% include "page_directory/pagination.html" %}
                    </div>
                    <div class="results">
                        {% for org in orgs %}
                            <div class="media">
                                <a class="pull-left" href="{{ object.page.get.get_absolute_url }}p/{{ org.pk }}/?{{ get_params }}&page={{ orgs.number }}">
                                    {% if org.logo %}
                                        {% thumbnail org.logo "220x140" upscale=0 as logo %}
                                            <img class="media-object" src="{{ logo.url }}" width="220" height="140" style="padding: {{ logo|margin:"220x140" }}">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img class="media-object" src="" width="220" height="140">
                                    {% endif %}
                                </a>
                                <div class="media-body">
                                    <p class="activity">{{ org.offer_activities }}</p>
                                    {% with org.main_location.city as city %}{% if city %}
                                        <span class="location">{{ org.main_location.zipcode }} {{ city }}</span>
                                    {% endif %}{% endwith %}
                                    <h4 class="media-heading">{{ org.title }}</h4>
                                    <p>{{ org.brief_description|linebreaks }}</p>
                                    <a href="{{ object.page.get.get_absolute_url }}p/{{ org.pk }}/?{{ get_params }}&page={{ orgs.number }}" class="btn btn-default">Fiche personnelle</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="section-foot">
                        {% include "page_directory/pagination.html" %}
                    </div>
{% else %}
                    <div>Aucun résultat.</div>
{% endif %}
                </div>
            </div>

            <div class="col-lg-3 sidebar--right">
                {% include "right-menu.html" %}
            </div>

        </div>
    </div>
</div>
