{% load thumbnail crispy_forms_tags staticfiles %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">
                    <div class="section-head">
                        <h1 class="title">DEPOSER UNE OFFRE</h1>
                    </div>
                    <form class="form form-horizontal" action="/annuaire/p/offre/ajouter/" enctype="multipart/form-data" method="post">
                        {% if org.status == 'I' %}
                            <p>Cette offre ne sera pas visible publiquement tant que vous n'aurez pas <a href="/annuaire/p/modifier/">proposé</a> votre fiche pour validation.</p>
                        {% endif %}
                        {% if org.status == 'P' %}
                            {% if form.instance.pk %}
                                <p>Cette offre est en cours de validation par les administrateurs du site. Elle ne sera visible publiquement qu'après validation.</p>
                            {% else %}
                                <p>Votre fiche est en cours de validation par les administrateurs du site. Cette offre ne sera visible publiquement qu'après validation.</p>
                            {% endif %}
                        {% endif %}
                        <fieldset>
                            {% if propose %}
                                <div class="alert alert-block alert-danger">
                                    <ul><li>Veuillez ajouter au moins une offre avant de proposer la fiche pour validation.</li></ul>
                                </div>
                            {% endif %}
                            {% crispy form %}
                        </fieldset>
                        <fieldset class="text-center">
                            <button type="submit" class="btn btn-default">Enregistrer</button>
                        </fieldset>
                        <p><b>*</b> champs obligatoires</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

jQuery(document).ready(function() {

    $('.as-selections').addClass('form-control');
    $('.as-input').removeClass('form-control');

    /* Select2 */

    $('select').select2();

});

</script>
