{% load thumbnail crispy_forms_tags staticfiles %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">
                    <div class="section-head">
                        <h1 class="title">DEPOSER UNE OFFRE</h1>
                    </div>
                    <form class="form form-horizontal" action="#" enctype="multipart/form-data" method="post">
                        <fieldset>
                            {% if propose %}
                                <div class="alert alert-block alert-danger">
                                    <ul><li>Veuillez ajouter au moins une offre.</li></ul>
                                </div>
                            {% endif %}
                            {% crispy form %}
                        </fieldset>
                        {{ form2.management_form }}
                        {% for subform in form2.forms %}
                            {{ subform.id }}
                            {% crispy subform %}
                        {% endfor %}
                        <fieldset class="text-center">
                            <button class="add-link btn btn--form">Ajouter un document</button>
                            <button type="submit" class="btn btn-default">Enregistrer</button>
                        </fieldset>
                        <p><b>*</b> champs obligatoires</p>
                    </form>
                </div>
            </div>
            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

jQuery(document).ready(function() {

    $('.control-label').tooltip({html: true});

    $('.as-selections').addClass('form-control');
    $('.as-input').removeClass('form-control');

    /* Select2 */

    $('select').select2();

    /* Formset */
    $('.formset-form:last').hide();
    var hidden_id = $('[id$="TOTAL_FORMS"]').val();

    $('.add-link').click(function() {
        var newElement = $('.formset-form:last').clone(true);
        var total = $('[id$="TOTAL_FORMS"]').val();
        newElement.find('[id^="id_"]:input').each(function() {
            var name = $(this).attr('name').replace('-' + (hidden_id-1) + '-','-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id});
        });
        newElement.find('label').each(function() {
            var newFor = $(this).attr('for').replace('-' + (hidden_id-1) + '-','-' + total + '-');
            $(this).attr('for', newFor);
        });
        total++;
        $('[id$="TOTAL_FORMS"]').val(total);
        $('.formset-form:last').before(newElement);
        newElement.show();
        return false;
    });

    $('.delete-link').click(function() {
        $(this).parent().find("input").prop('checked', true);
        $(this).parents("fieldset").addClass("hidden");
        return false;
    });

});

</script>
