Page&nbsp;:&nbsp;
{% for p in orgs.paginator.page_range %}
    <a href="?{{ get_params }}&page={{ p }}" class="page-link{% if p == orgs.number %} current{% endif %}">{{ p }}</a>
{% endfor %}
<span class="step-links">
    <a href="?{{ get_params }}&page={{ orgs.previous_page_number }}" class="prev-link" disabled="{{ orgs.has_previous|yesno:"true,false" }}">&nbsp;</a>
    <a href="?{{ get_params }}&page={{ orgs.next_page_number }}" class="next-link" disabled="{{ orgs.has_next|yesno:"true,false" }}">Page suivante</a>
</span>
