<form id="annuaires-search" method="GET" action="#" class="content-box top advanced-search-form">
    <div class="row">
{% if not object.networks %}
        <div class="col-lg-3">
            <div class="item">
                <h3>Je recherche</h3>
                <div class="dropdown">
                    {{ form.org_type }}
                </div>
            </div>
            <div class="item" id="prov-type">
                <h3>Type de fournisseur</h3>
                <div class="dropdown">
                    {{ form.prov_type }}
                </div>
            </div>
        </div>
{% endif %}
        <div class="col-lg-3">
            <div class="item">
                <h3>Secteur d'activité</h3>
                <div class="dropdown">
                    {{ form.sector }}
                </div>
                <div class="checkbox">
                    <label>{{ form.interim }} Mise à disposition de personnel Travail temporaire</label>
                </div>
            </div>
{% if not object.networks %}
            <div class="item">
                <h3>Garantie</h3>
                <div class="dropdown">
                    {{ form.guaranty }}
                </div>
            </div>
{% endif %}
        </div>
        <div class="col-lg-3">
            <div class="item item-small">
                <h3>Territoire</h3>
                {{ form.area }}
                <div class="dropdown input-group">
                    {{ form.radius }}
                    <span class="input-group-addon form-control-small">km</span>
                </div>
                <label for="id_geo_0">
                    <input {% if geo == "1" %}checked="checked"{% endif %} name="geo" value="1" id="id_geo_0" type="radio" />
                    Implantation
                </label>
                &nbsp;
                <label for="id_geo_1">
                    <input {% if geo == "2" %}checked="checked"{% endif %} value="2" type="radio" name="geo" id="id_geo_1" />
                    Intervention
                </label>
            </div>
{% if not object.networks %}
            <div class="item search">
                {{ form.q }}
            </div>
{% endif %}
        </div>
{% if object.networks %}
        <div class="col-lg-3">
            <div class="item search">
                <h3>Recherche libre</h3>
                {{ form.q }}
            </div>
        </div>
{% endif %}
        <div class="col-lg-3">
            <div class="item">
                <div class="result">
                    {% if orgs.paginator %}
                        <span class="number">{{ orgs.paginator.count }}</span> Résultat{{ orgs.paginator.count|pluralize }}
                    {% else %}
                        <span class="number">{{ orgs.count }}</span> Résultat{{ orgs.count|pluralize }}
                    {% endif %}
                </div>
            </div>
{% if not object.networks %}
            <div class="item">
                <p class="text-center"><button class="btn btn-second iconf-geopins" type="submit" name="display" value="{{ other }}">{{ other }}</button>
            </div>
{% endif %}
            <div class="item">
                <p class="text-center"><button class="btn btn-default" type="submit" name="display" value="RECHERCHER">RECHERCHER</button></p>
            </div>
        </div>
    </div>
</form>

{% if not object.networks %}
<script type="text/javascript">
    // Default button is RECHERCHER
    $('#annuaires-search').keypress(function(e) {
        if(e.keyCode == 13) {
            $('#annuaires-search').submit();
        }
    });
    // Show org_type search field only if "Fournisseurs" is selected
    function org_type_change() {
        var cell = document.getElementById('prov-type');
        if (this.options[this.selectedIndex].value == "fournisseur") {
            cell.style.visibility = 'visible';
        } else {
            cell.style.visibility = 'hidden';
        }
    };
    var org_type_select = document.getElementById('id_org_type');
    org_type_select.addEventListener(
        "change",
        org_type_change,
        false
    );
    org_type_change.apply(org_type_select);
</script>
{% endif %}
