<form id="annuaires-search" method="GET" action="#" class="content-box top advanced-search-form">
    <div class="row">
{% if not object.networks %}
        <div class="col-lg-3">
{% if not object.bdis %}
            <div class="item">
                <h3>Je recherche</h3>
                <div class="dropdown">
                    {{ form.org_type }}
                </div>
            </div>
{% endif %}
            <div class="item">
                <h3>Type {% if object.bdis %}d'initiative{% else %}de fournisseur{% endif %}</h3>
                <div class="dropdown">
                    {{ form.prov_type }}
                </div>
            </div>
{% if not object.networks %}
            <div class="item">
                <h3>Garantie</h3>
                <div class="dropdown">
                    {{ form.guaranty }}
                </div>
            </div>
{% endif %}
        </div>
{% endif %}
        <div class="col-lg-3">
            {% if object.networks %}
                <div class="item">
                    <h3>Spécificité</h3>
                    <div class="dropdown">
                        {{ form.prov_type }}
                    </div>
                </div>
            {% else %}
                <div class="item">
                    <h3>Secteur d'activité</h3>
                    <div class="dropdown" id="sectors">
                        {{ form.sector }}
                    </div>
                </div>
                <div class="item" id="subsectors">
                    <h3>Sous secteur d'activité</h3>
                    <div class="dropdown">
                        {{ form.subsector }}
                    </div>
                </div>
                <div class="item" id="interim">
                    <div class="checkbox">
                        <label>{{ form.interim }} Mise à disposition de personnel Travail temporaire</label>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-lg-3">
            <div class="item item-small">
                <h3>Territoire</h3>
                {{ form.area }}
                <div class="dropdown input-group" id="radius">
                    {{ form.radius }}
                    <span class="input-group-addon form-control-small">km</span>
                </div>
{% if not object.networks %}
                <label for="id_geo_0">
                    <input {% if geo == "1" %}checked="checked"{% endif %} name="geo" value="1" id="id_geo_0" type="radio" />
                    Implantation
                </label>
                &nbsp;
                <label for="id_geo_1">
                    <input {% if geo == "2" %}checked="checked"{% endif %} value="2" type="radio" name="geo" id="id_geo_1" />
                    Intervention
                </label>
{% endif %}
            </div>
{% if not object.networks %}
            <div class="item search">
                <h3>Recherche libre</h3>
                {{ form.q }}
            </div>
{% endif %}
        </div>
{% if object.networks %}
        <div class="col-lg-3">
            <div class="item search">
                <h3>Recherche libre</h3>
                {{ form.q }}
            </div>
        </div>
{% endif %}
        <div class="col-lg-3">
            <div class="item">
                <div class="result">
                    {% if orgs.paginator %}
                        <span class="number">{{ orgs.paginator.count }}</span> Résultat{{ orgs.paginator.count|pluralize }}
                    {% else %}
                        <span class="number">{{ orgs.count }}</span> Résultat{{ orgs.count|pluralize }}
                    {% endif %}
                </div>
            </div>
{% if not object.networks %}
            <div class="item">
                <p class="text-center"><button class="btn btn-second iconf-geopins" type="submit" name="display" value="{{ other }}">{{ other }}</button>
            </div>
{% endif %}
            <div class="item">
                <p class="text-center"><button class="btn btn-default" type="submit" name="display" value="RECHERCHER">RECHERCHER</button></p>
            </div>
        </div>
    </div>
</form>

{% if not object.networks %}
<script type="text/javascript">
    // Default button is RECHERCHER
    $('#annuaires-search').keypress(function(e) {
        if(e.keyCode == 13) {
            $('#annuaires-search').submit();
        }
    });
    // Show org_type search field only if "Fournisseurs" is selected
    function org_type_change() {
        if (this.options[this.selectedIndex].value == "fournisseur") {
            $('#id_prov_type').removeAttr('disabled');
        } else {
            $('#id_prov_type option:first-child').attr('selected', 'selected');
            $('#id_prov_type').attr('disabled', 'disabled');
        }
    };
{% if not object.bdis %}
    var org_type_select = document.getElementById('id_org_type');
    org_type_select.addEventListener(
        "change",
        org_type_change,
        false
    );
    org_type_change.apply(org_type_select);
{% endif %}
    // update subsectors
    function sector_change() {
        var pk = $('#id_sector option:selected').val();
        console.log('pk', pk);
        if (pk == "") {
            $("#subsectors select" ).html('<option selected="selected" value="">Tout voir</option>');
        }
        else {
            $.get("/subsectors/" + pk + "/", function(data) {
                $("#subsectors select" ).html(data);
            });
        }
    }
    var sector_select = document.getElementById('id_sector');
    sector_select.addEventListener(
        "change",
        sector_change,
        false
    );
//     sector_change.apply(sector_select);
</script>
{% endif %}
