{% load ascii %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">
                    Vous devez d'abord vous
                    <a href="/mon-compte/p/deconnexion/?next=/annuaire/p/ajouter/">
                        déconnecter
                    </a>
                    avant de pouvoir inscrire une nouvelle fiche.
                </div>
            </div>
            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>
        </div>
    </div>
</div>
