{% load thumbnail crispy_forms_tags staticfiles %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar sidebar--left">
                {% include "forms-menu.html" %}
            </div>
            <div class="col-lg-9">
                <div class="content-box">
                    <div class="section-head">
                        <h1 class="title">PROPOSER UN ARTICLE</h1>
                    </div>
                    {% if form.instance.status == 0 %}
                        Vous pouvez enregistrer l'article pour le modifier plus tard. Lorsque vous êtes prêt à demander sa publication, cliquez sur le bouton « Proposer l'article ».
                    {% elif form.instance.status == 2 %}
                        Votre article est en attente de validation par les administrateurs du site.
                    {% endif %}
                    <form class="form form-horizontal" action="#" enctype="multipart/form-data" method="post">
                        <fieldset>
                            {% crispy form %}
                        </fieldset>
                        <fieldset class="text-center">
                            <button type="submit" class="btn btn-default">Enregistrer</button>
                            {% if form.instance.status == 0 %}
                                <button type="submit" name='propose' class="btn btn--form">Proposer l'article</button>
                            {% endif %}
                        </fieldset>
                        <p><b>*</b> champs obligatoires</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

jQuery(document).ready(function() {

    $('.as-selections').addClass('form-control');
    $('.as-input').removeClass('form-control');

    /* Select2 */

    $('select').select2();

});

</script>
