<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">
{% comment %}
                    <div class="section-head">
                        <ul class="pager">
                            <li><a href="#prev" class="prev inactive"><span class="arrow">g</span> Titre de l'actualité précédente</a></li>
                            <li><a href="#next" class="next">Titre de l'actualité suivante <span class="arrow">f</span></a></li>
                        </ul>
                    </div>
{% endcomment %}
                    <div class="article">
                        <h1>{{ object.title }}</h1>
                        <div class="article__meta">
                            {# <span class="small">Par {{ object.author.last_name }} {{ object.author.first_name }}</span> #}
                            {% if object.activities.all %}
                                <div><span class="small">Secteur d'activité&nbsp;:
                                {% for activity in object.activities.all %}
                                    <a href="/recherche/?q={{ activity.label|urlencode }}" class="name">{{ activity.label }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                                </span></div>
                            {% endif %}
                            {% if object.themes.all %}
                                <div><span class="small">Thématique&nbsp;:
                                {% for theme in object.themes.all %}
                                    <a href="/recherche/?q={{ theme.name|urlencode }}" class="name">{{ theme.name }}</a>{% if not forloop.last %},{% endif %}
                                {% endfor %}
                                </span></div>
                            {% endif %}
                            <hr>
                            <span class="small iconf-time date">{{ object.publication_date|date:"j F Y" }}</span>
                            {% if object.tags.all %}
                                <span class="small iconf-fontawesome-webfont tag">
                                    {% for tag in object.tags.all %}
                                        <a href="/recherche/?q={{ tag|urlencode }}">{{ tag }}</a>{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </div>
                       {{ object.body|safe }}
                    </div>
                </div>
            </div>

            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>
        </div>
    </div>
</div>
