{% load i18n thumbnail %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">
{% if latest %}
{% comment %}
                    <div class="section-head">
                        {% include "page_blog/pagination.html" %}
                    </div>
{% endcomment %}
                    <div class="">
{% for entry in latest %}
                        <div class="media">
                            <a class="pull-left" href="#">
                                {% if entry.thumb %}
                                    {% thumbnail entry.thumb "220x140" upscale=0 as image %}
                                        <img class="media-object" src="{{ image.url }}" style="margin: {{ image|margin:"220x140" }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="media-object" src="" width="220" height="140">
                                {% endif %}
                            </a>
                            <div class="media-body">
                            <p class="activity">
                                {{ entry.publication_date|date:"j F Y" }}
                                {% if entry.tags.all %}
                                    / {{ entry.tags.all|join:", " }}
                                {% endif %}
                            </p>
                            <h4 class="media-heading">{{ entry.title }}</h4>
                            {% if entry.resume %}
                                {{ entry.resume }}
                            {% else %}
                                {{ entry.body|striptags|truncatewords:25|safe }}
                            {% endif %}
                                <div class="row">
                                <div class="col-lg-3">
                                    <a href="{{ entry.get_absolute_url }}" class="btn btn-default">Lire l'article</a>
                                </div>
                                <div class="col-lg-9">
                                    {% comment %}<div class="media-data">
                                        Posté par : <span>{{ entry.author.last_name }} {{ entry.author.first_name }}</span><br>
                                        Tags : <span></span>
                                    </div>{% endcomment %}
                                </div>
                                </div>
                            </div>
                        </div>
{% endfor %}
                    </div>
{% comment %}
                    <div class="section-foot">
                        {% include "page_blog/pagination.html" %}
                    </div>
{% endcomment %}
{% else %}
                    <div>Aucune actualité.</div>
{% endif %}
                </div>
            </div>

            <div class="col-lg-3 sidebar sidebar--right">
                {% include "right-menu.html" %}
            </div>

        </div>
    </div>
</div>
