<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar sidebar--left">
                {% include "forms-menu.html" %}
            </div>
            <div class="col-lg-9">
                <div class="content-box my-offers">
                    <div class="section-head">
                        <h1 class="title">MES ACTUALITÉS</h1>
                    </div>

                    {% for entry in entries %}
                        <div class="row">
                            <div class="col-lg-12">
                                {{ entry.title }} ({{ entry.get_status_display }})
                                <div class="pull-right">
                                    {% if entry.status == 1 %}<a class="btn btn-default" href="{{ entry.get_absolute_url }}">Voir</a>{% endif %}
                                    <a class="btn btn-second" href="/actualites/p/{{ entry.pk }}/modifier/">Modifier</a>
                                    <a class="btn btn-danger" href="/actualites/p/{{ entry.pk }}/supprimer/" data-title="{{ entry.title }}">Supprimer</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}

                    <p class="text-center">
                        <a class="btn btn-default" href="/actualites/p/ajouter/">Ajouter</a>
                    </p>

                    <ul class="list-group">
                        <li class="list-group-item"><a href="/mon-compte/">Retour à mon compte</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.btn-danger').click(function(event) {
        event.preventDefault();
        if (confirm("Voulez vous réellement supprimer l'actualité " + $(this).attr('data-title') + " ?"))
            window.location = $(this).attr('href');
    });
</script>
