<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 sidebar sidebar--left">
                {% include "forms-menu.html" %}
            </div>
            <div class="col-lg-9">
                <div class="content-box">
                    <div class="section-head">
                        <h1 class="title">MES ARTICLES</h1>
                    </div>

                    {% for entry in entries %}
                        <div class="row">
                            <div class="col-lg-12">
                                {{ entry.title }}
                                <div class="pull-right">
                                    <a class="btn btn-default" href="{{ entry.get_absolute_url }}">Voir</a>
                                    <a class="btn btn-second" href="/actualites/p/{{ entry.pk }}/modifier/">Modifier</a>
                                    <a class="btn btn-danger" href="/actualites/p/{{ entry.pk }}/supprimer/">Supprimer</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    {% endfor %}

                    <p class="text-center">
                        <a class="btn btn-default" href="/actualites/p/ajouter/">Ajouter</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
