// FICHE OBJECT
.fiche {
    // padding: 10px 0;

    .short-desc {
        margin-top: 0;
    }

    .status, .activity {
        font-style: italic;
    }

    .contact-details {
        ul {
            padding-left: 0;
        }

        li {
            list-style: none;
            margin: 5px 0;
        }
    }
}
    
    .fiche__logo {
        float: left;
        margin-right: 13px;
    }

    .fiche__title {
        font-size: 15px;
        margin-top: 0;
        color: @greydarker;
    }
