// MEDIA OBJECTS
.media {
    border-top: 1px solid @greylighter2;
    padding-top: 8px;
    margin-top: 10px;
    position: relative;

    &:first-child {
        border: none;
    }

    > .pull-left {
        margin-right: 20px;
    }

    .activity {
        font-size: 10px;
        font-style: italic;
        color: @greylighter;
        margin: 0;
    }

    .location {
        position: absolute;
        right: 0;
        top: 10px;
        background: lighten(@color1lighter2, 15%);
        font-size: 11px;
        color: @color1;
        border: 1px solid @color1lighter2;
        padding: 4px 10px 4px 3px;
        .border-radius(3px);
        
        &:before {
            .iconf;
            content: "s"; // .iconf-pins
            font-size: 14px;
            vertical-align: middle;
            margin-right: 3px;
        }
    }

    .media-heading {
        font-size: 14px;
        margin: 10px 0 10px 0;
    }

    .media-object {
        margin-top: 5px;
    }

    .media-meta {
        margin-top: 20px;
    }

    .media-data {
        border: 1px solid @greylighter2;
        .border-radius(3px);
        background: @greylighter4;
        font-size: 11px;
        padding: 3px 10px;
    }

    .limit-date {
        color: @color2;
        line-height: 1.3;
        
        &:before {
            font-size: 31px;
            float: left;
            margin-right: 8px;
            margin-top: 3px;
        }

        .date {
            font-size: 15px;
            color: @body-color;
            font-weight: bold;
        }
    }

    .website {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}