<div id="direct">
    <div id="direct-header">
        <h2>{{ object.title }}</h2>
        <ul>
            <li class="selected">Appel d'offre</li><li>Fournisseurs</li><li>Acheteurs</li><li>Agenda</li><li>Actualités</li>
        </ul>
    </div>
    <div id="direct-content">
        <div>
            <h3>Nom de l'appel d'offre</h3>
            <h4>25/01/2013 - Catégorie Lorem ipsum</h4>
            <p>This is the Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor.</p>
        </div>
        <div>
            <h3>Nom de l'appel d'offre</h3>
            <h4>25/01/2013 - Catégorie Lorem ipsum</h4>
            <p>This is the Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor.</p>
        </div>
        <div>
            <h3>Nom de l'appel d'offre</h3>
            <h4>25/01/2013 - Catégorie Lorem ipsum</h4>
            <p>This is the Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor.</p>
        </div>
        <div>
            <h3>Nom de l'appel d'offre</h3>
            <h4>25/01/2013 - Catégorie Lorem ipsum</h4>
            <p>This is the Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor.</p>
        </div>
        <div>
            <h3>Nom de l'appel d'offre</h3>
            <h4>25/01/2013 - Catégorie Lorem ipsum</h4>
            <p>This is the Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor.</p>
        </div>
        <div>
            <h3>Nom de l'appel d'offre</h3>
            <h4>25/01/2013 - Catégorie Lorem ipsum</h4>
            <p>This is the Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor.</p>
        </div>
    </div>
</div>
