{% extends "iframe/base.html" %}
{% load thumbnail staticfiles %}

{% block content %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% include "page_directory/search.html" with other="Cartographie" %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="content-box">
{% if orgs.object_list %}
                    <div class="section-head">
                        {% include "page_directory/pagination.html" %}
                    </div>
                    <div class="results">
                        {% for org in orgs %}
                            <div class="media">
                                <a class="pull-left" href="/annuaire/p/{{ org.pk }}/?{{ get_params }}&page={{ orgs.number }}" target="_blank">
                                    {% if org.logo %}
                                        {% thumbnail org.logo "220x140" upscale=0 as logo %}
                                            <img class="media-object" src="{{ logo.url }}" width="220" height="140" style="padding: {{ logo|margin:"220x140" }}">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img class="media-object" src="{% static "img/default-img-" %}{{ region_slug }}.png" width="220" height="140">
                                    {% endif %}
                                </a>
                                <div class="media-body">
                                    <p class="activity">{{ org.offer_activities_links_target_blank }}</p>
                                    {% if org.nearest %}
                                        <span class="location">{{ org.nearest.zipcode }} {{ org.nearest.city }}{#{% if org.distance %} ({{ org.distance.km|floatformat:"0" }} km){% endif %}#}</span>
                                    {% else %}
                                        {% with org.main_location.city as city %}{% if city %}
                                            <span class="location">{{ org.main_location.zipcode }} {{ city }}</span>
                                        {% endif %}{% endwith %}
                                    {% endif %}
                                    <h4 class="media-heading">{{ org.title }}</h4>
                                    <p>{{ org.brief_description|linebreaks }}</p>
                                    <a href="/annuaire/p/{{ org.pk }}/?{{ get_params }}&page={{ orgs.number }}" class="btn btn-default" target="_blank">Fiche personnelle</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="section-foot">
                        {% include "page_directory/pagination.html" %}
                    </div>
{% else %}
                    <div>Aucun résultat.</div>
{% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}
