{% load thumbnail leaflet_tags l10n %}

<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form id="annuaires-search" method="GET" action="#" class="content-box top">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="item">
                                <h3>Je recherche</h3>
                                <div class="dropdown">
                                    {{ form.org_type }}
                                </div>
                            </div>
                            <div class="item" id="prov-type">
                                <h3>Type de fournisseur</h3>
                                <div class="dropdown">
                                    {{ form.prov_type }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div id="id_interim" class="item">
                                <h3>Secteur d'activité</h3>
                                <div id="id_interim_0" class="radio">
                                    {{ form.interim.0 }}
                                </div>
                                <div id="id_interim_1" class="radio">
                                    {{ form.interim.1 }}
                                </div>
                                <div class="dropdown">
                                    {{ form.sector }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="item">
                                <h3>Territoire</h3>
                                <div class="dropdown">
                                    {{ form.area }}
                                </div>
                            </div>
                            <div class="item">
                                <h3>Recherche libre</h3>
                                <div class="dropdown">
                                    {{ form.q }}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="item">
                                <div class="result">
                                    <span class="number">{{ orgs.count }}</span> Résultat{{ orgs.count|pluralize }}
                                </div>
                            </div>
                            <div class="item">
                                <p class="text-center"><button class="btn btn-second iconf-geopins" type="submit" name="display" value="Annuaire">Annuaire</button>
                            </div>
                            <div class="item">
                                <p class="text-center"><button class="btn btn-default" type="submit" name="display" value="RECHERCHER">RECHERCHER</button></p>
                            </div>
                        </div>
                    </form>

                    <script type="text/javascript">
                        // Default button is RECHERCHER
                        $('#annuaires-search').keypress(function(e) {
                            if(e.keyCode == 13) {
                                $('#annuaires-search').submit();
                            }
                        });
                        // Show org_type search field only if "Fournisseurs" is selected
                        function org_type_change() {
                            var cell = document.getElementById('prov-type');
                            if (this.options[this.selectedIndex].value == "fournisseur") {
                                cell.style.visibility = 'visible';
                            } else {
                                cell.style.visibility = 'hidden';
                            }
                        };
                        var org_type_select = document.getElementById('id_org_type');
                        org_type_select.addEventListener(
                            "change",
                            org_type_change,
                            false
                        );
                        org_type_change.apply(org_type_select);

                        // Show activity field only if "Production de biens et services" is selected
                        interim0 = $('#id_interim_0 input');
                        interim0.change(function() {
                            $('#id_sector').hide();
                        });
                        interim1 = $('#id_interim_1 input');
                        interim1.change(function() {
                            $('#id_sector').show();
                        });
                        if ($('#id_interim input:checked').val() != 2) {
                            $('#id_sector').hide();
                        }
                    </script>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-9">
                <div class="content-box">

                    {% leaflet_map "orgsmap" %}

                    {% localize off %}
                    <script type="text/javascript">

                    function orgsmapInit(map, bounds) {

                        // Add markers
                        var tab_markers = new Array();

                        {% for o in orgs %}
                            {% if o.located %}
                                {% for l in o.located.all %}
                                    {% if l.location.point %}
                                        tab_markers.push(new L.LatLng({{ l.location.point.y|unlocalize }}, {{ l.location.point.x|unlocalize }}))
                                        L.marker([{{ l.location.point.y|unlocalize }}, {{ l.location.point.x|unlocalize }}]).addTo(map)
                                                .bindPopup('<div class="leaflet-popup__title">{{ o.title|escapejs }}</div><div class="leaflet-popup__desc">{{ o.main_location.zipcode|escapejs }} {{ o.main_location.city|escapejs }}<br/>{{ o.offer_activities|escapejs }}<br/><br/>{{ o.brief_description|linebreaksbr|escapejs }}<p class="link"><a href=\"/annuaire/p/{{ o.pk }}/\">Fiche complète</a></p></div>');
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}

                        var southWest = new L.LatLng({{ bounds.0 }}, {{ bounds.1 }});
                        var northEast = new L.LatLng({{ bounds.2 }}, {{ bounds.3 }});
                        var bounds = new L.LatLngBounds(southWest, northEast);
                        map.fitBounds(bounds);

                    }

                    </script>
                    {% endlocalize %}

                </div>
            </div>

            <div class="col-lg-3 sidebar--right">
                {% include "right-menu.html" %}
            </div>

        </div>
    </div>
</div>
