{% load thumbnail leaflet_tags l10n %}

<form id="annuaires-search" method="GET" action="#">
    <table>
        <tr>
            <td rowspan="3">
                <label>Je recherche</label>
                {{ form.org_type }}
            </td>
            <td rowspan="6">
                <label>Secteur d'activité</label>
                {{ form.interim }}
                {{ form.sector }}
            </td>
            <td rowspan="3">
                <label>Territoire</label>
                {{ form.area }}
            </td>
            <td rowspan="2" id="results">
                <p><span>{{ orgs.count }}</span>
                Résultat{{ orgs.count|pluralize }}</p>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td rowspan="2" class="center">
                <input class="button annuaire" type="submit" name="display" value="Annuaire">
            </td>
        </tr>
        <tr>
            <td rowspan="3" id="prov-type-cell">
                <label>Type de fournisseur</label>
                {{ form.prov_type }}
            </td>
            <td rowspan="3">
                <label>Recherche libre</label>
                {{ form.q }}
            </td>
        </tr>
        <tr>
            <td rowspan="2" class="center">
                <input class="button" type="submit" name="display" value="RECHERCHER">
            </td>
        </tr>
        <tr></tr>
    </table>
</form>

<script type="text/javascript">
    // Show org_type search field only if "Fournisseurs" is selected
    function org_type_change() {
        var cell = document.getElementById('prov-type-cell');
        if (this.options[this.selectedIndex].value == "fournisseur") {
            cell.style.visibility = 'visible';
        } else {
            cell.style.visibility = 'hidden';
        }
    };
    var org_type_select = document.getElementById('id_org_type');
    org_type_select.addEventListener(
        "change",
        org_type_change,
        false
    );
    org_type_change.apply(org_type_select);

    // Show activity field only if "Production de biens et services" is selected
    interim1 = document.getElementById('id_interim_1');
    interim1.addEventListener(
        "change",
        function() {
            document.getElementById('id_sector').style.visibility = 'hidden';
        },
        false
    );
    interim2 = document.getElementById('id_interim_2');
    interim2.addEventListener(
        "change",
        function() {
            document.getElementById('id_sector').style.visibility = 'visible';
        },
        false
    );
    if (!interim2.checked) {
        document.getElementById('id_sector').style.visibility = 'hidden';
    }
</script>

<div id="map-results" class="pasr-box">
    {% leaflet_map "orgsmap" %}
</div>

<script type="text/javascript">

function orgsmapInit(map, bounds) {

    // Add markers
    var tab_markers = new Array();

    {% for o in orgs %}
        {% if o.located %}
            {% for l in o.located.all %}
                {% if l.location.point %}
                    tab_markers.push(new L.LatLng({{ l.location.point.y|unlocalize }}, {{ l.location.point.x|unlocalize }}))
                    L.marker([{{ l.location.point.y|unlocalize }}, {{ l.location.point.x|unlocalize }}]).addTo(map)
                            .bindPopup("{{ o.title|safe }}<br/><a href=\"/annuaire/p/{{ o.pk }}/\">En savoir plus</a>")
                            .openPopup();
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    if(tab_markers.length > 0) {
        global_bounds = new L.LatLngBounds(tab_markers);
        map.fitBounds(global_bounds);
        map.zoomOut();
    }

}

</script>
