{% load ionyweb_tags %}
<div id="inner-header">
    <div id="logo">
        {% render_layout "logo" %}
    </div>
    <ul id="top-links">
        <li><a href="/qui-sommes-nous/">Qui sommes-nous ?</a></li>
        <li><a href="/pourquoi-sinscrire/">Pourquoi s'inscrire ?</a></li>
        <li><a href="/espace-presse/">Espace Presse</a></li>
    </ul>
    <div id="feedback">
        <a href="/contact">Retour d'expérience d'utilisation</a>
    </div>
    <form id="search" method="GET" action="#">
        <label for="search-input">Rechercher</label>
        <input id="search-input" type="search" name="q"></input>
    </form>
    <a href="/profil/login/">
        <div id="login">
            <div id="your-account">VOTRE COMPTE</div>
            <div>Bonjour, <b>Identifiez-vous</b></div>
        </div>
    </a>
</div>
